<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="contact-1392">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Now You Know About <span class="alt-title"> Us...</span> We Want To Hear From <span class="alt-title"> You</span></h2>
            <ul class="cs-ul">
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img loading="lazy" aria-hidden="true" src="/assets/svgs/telephone-cta.svg" alt="phone icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Phone</span>
                        <a href="tel:{{client.phoneForTel}}" class="cs-link">{{client.phoneFormatted}}</a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img loading="lazy" aria-hidden="true" src="/assets/svgs/email.svg" alt="email icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Email</span>
                        <a href="mailto:{{client.email}}" class="cs-link">{{client.email}}</a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img loading="lazy" aria-hidden="true" src="/assets/svgs/facebook-stroke.svg" alt="facebook icon" id="linkedin-icon" class="linkedin icon" width="25" height="25" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Facebook</span>
                        <a href="https://www.facebook.com/profile.php?id=61565138183329" class="cs-link" target="_blank">Southern Tier Web Designs</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--Form-->
        <form data-netlify="true" class="cs-form" id="cs-form-1392" name="Contact Form" method="post">
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-1392" name="name" placeholder="Name" autocomplete="name">
            </label>
            <label class="cs-label cs-email">
                Email
                <input class="cs-input" required type="email" id="email-1392" name="email" placeholder="Email" autocomplete="email">
            </label>
            <label class="cs-label cs-phone">
                Phone
                <input class="cs-input" required type="tel" id="phone-1392" name="phone" placeholder="Phone" autocomplete="phone">
            </label>
            <label class="cs-label">
                Message
                <textarea class="cs-input cs-textarea" required name="Message" id="message-1392" placeholder="Write message..."></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">SEND MESSAGE</button>
        </form>
    </div>
</section> 