<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-1392">
    <svg class="cs-graphic" width="1921" height="163" viewBox="0 0 1921 163" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M703 0H0V100L703 0Z" fill="#119ce2"/>
        <path d="M583 0H1921V163L583 0Z" fill="#119ce2"/>
        <path class="white-space" d="M694 0H1920V142L694 0Z" fill="#FFFFFF"/>
        <path class="white-space" d="M593 0H0V84L593 0Z" fill="#FFFFFF"/>
      </svg>
    <div class="cs-container">
        <div class="cs-top">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" loading="lazy" decoding="async" src="" alt="logo" width="209" height="40">
            </a>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">About</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Services</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Blog</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="cs-bottom">
            <!--Social-->
            <ul class="cs-social">
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="facebook" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/face-white1.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="linkedin" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="/assets/svgs/linkedin-footer.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
            </ul>
            <span class="cs-copyright">
                © Copyright 2024 - <a href="" class="cs-copyright-link">Southern Tier Web Designs, LLC</a>
            </span>
        </div>
    </div>
</footer>
                                