<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-487">
    <div class="cs-container">
        <div class="cs-top">
            <!-- Logo Group -->
            <div class="cs-logo-group">
                <a aria-label="go back to home" class="cs-logo" href="/">
                    <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/Leadwell-logo-1.svg" alt="logo" width="158" height="37">
                </a>
            </div>
            <!-- Contact Info -->
            <ul class="cs-ul cs-services">
                <li class="cs-li">
                    <span class="cs-header">Company</span>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/about">
                        About
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/testimonials">
                        Testimonials
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/web-design-portfolio">
                        Website Portfolio
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/privacy-policy">
                        Privacy Policy
                    </a>
                </li>
            </ul>
            <ul class="cs-ul cs-services">
                <li class="cs-li">
                    <span class="cs-header">Quick Links</span>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/seo">
                        SEO
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/web-design">
                        Website Design
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/roi-calculator">
                        ROI Calculator
                    </a>
                </li>
            </ul>
            <ul class="cs-nav cs-ul cs-services">
                <li class="cs-nav-li">
                    <span class="cs-header">Contact</span>
                </li>
                <li class="cs-nav-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/email-footer.svg" alt="phone" width="24" height="24">
                    <a class="cs-nav-link cs-phone" href="mailto:{{client.email}}">{{client.email}}</a>
                </li>
                <li class="cs-nav-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/phone-footer.svg" alt="email" width="24" height="24">
                    <a class="cs-nav-link cs-email" href="tel:{{client.PhoneForTel}}">{{client.phoneFormatted}}</a>
                </li>
                <li class="cs-nav-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/pin-footer.svg" alt="pin" width="24" height="24">
                    <a class="cs-nav-link cs-address" href="https://maps.app.goo.gl/gyEcvKmptWAJWz7DA" target="_blank" rel="noopener">
                        Binghamton, New York
                    </a>
                </li>
            </ul>
            <div class="cs-subscribe-group">
                <div class="cs-form">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d916820.0325948173!2d-75.99950218528959!3d41.62513377269751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2c923cf2132abe07%3A0x8e54a3879232da9a!2sLeadwell%20Growth!5e0!3m2!1sen!2sus!4v1771095164649!5m2!1sen!2sus" width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <!--Bottom Copyright And Social-->
        <div class="cs-bottom">
            <span class="cs-copyright">© {% year %} Leadwell Growth. All rights reserved</span>
            <div class="cs-social cs-social-icon">
                <a href="https://www.google.com/maps/place/Leadwell+Growth/@42.5369138,-76.9644724,9z/data=!4m8!3m7!1s0x2c923cf2132abe07:0x8e54a3879232da9a!8m2!3d42.541979!4d-75.7820605!9m1!1b1!16s%2Fg%2F11lnn3y9w8?entry=ttu&g_ep=EgoyMDI2MDIxMS4wIKXMDSoASAFQAw%3D%3D" class="cs-google" target="_blank" aria-label="Google Reviews">
                    <img aria-hidden="true" src="/assets/images/google-review1.webp" loading="eager" decoding="async" alt="estimate icon" width="148" height="20">
                </a>
                <a href="https://www.linkedin.com/company/leadwell-growth/" class="cs-linkedin" target="_blank" aria-label="LinkedIn">
                    <img aria-hidden="true" src="/assets/svgs/linkedin.svg" loading="eager" decoding="async" alt="estimate icon" width="48" height="48">
                </a>
            </div>
        </div>
    </div>
</footer>
                                
                                