<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1761">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <h2 class="cs-title">Websites <br>Done Right</h2>
            <a href="/book-call" class="cs-button-solid">Get In Touch</a>
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <img class="cs-logo" src="/assets/svgs/logo-text-white2.svg" alt="logo" loading="lazy" decoding="async" height="48" width="217">
            <p class="cs-text">Your website is more than a digital presence—it's a powerful extension of your business. We're here to help you build something that truly resonates with your customers and grows alongside you.</p>
            <ul class="cs-ul cs-ul-contact">
                <li class="cs-li">
                    <span class="cs-topper">Call Us Anytime</span>
                    <a class="cs-contact" href="tel:{{client.phoneForTel}}">+1 (845) 754-6086</a>
                </li>
                <li class="cs-li">
                    <span class="cs-topper">Or Email Us</span>
                    <a class="cs-contact" href="mailto:{{client.email}}">{{client.email}}</a>
                </li>
            </ul>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Quick Links</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="/">Home</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/web-design">Web Design</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/pricing">Pricing</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2024 <a href="/" class="cs-credit-link" target="_blank">Southern Tier Web Designs, LLC</a>
        </span>
        <!-- <div class="cs-bottom-links">
            <a href="" class="cs-bottom-link">Terms & Conditions</a>
            <a href="" class="cs-bottom-link">Privacy Policy</a>
        </div> -->
    </div>
    <div class="cs-shape-divider">
        <svg viewBox="0 0 1920 196" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0H1920V196C1618.18 59.3333 811.623 -132 0 196V0Z" fill="#FFFFFF" class="shape-fill"/>
        </svg>
    </div>
</footer>