<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <!--Logo is turned white in the css with a filter on dark mode-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <img src="/assets/svgs/logo-text-colored.svg" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link {% if page.url == '/' %} cs-active {% endif %}">
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/about" class="cs-li-link {% if page.url == '/about/' %} cs-active {% endif %}">
                            About
                        </a>
                    </li>
                    <!--Copy and paste this cs-dropdown list item and replace any .cs-li with this cs-dropdown group to make a new dropdown and it will work-->
                    <li class="cs-li cs-dropdown" tabindex="0">
                        <span class="cs-li-link {% if page.url == '/web-design/' or page.url == '/seo-services/' %} cs-active {% endif %}">
                            Services
                            <img class="cs-drop-icon" src="/assets/svgs/dropdown-arrow.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                        </span>
                        <ul class="cs-drop-ul">
                            <li class="cs-drop-li">
                                <a href="/web-design" class="cs-li-link cs-drop-link {% if page.url == '/web-design/' %} cs-active {% endif %}">Web Design</a>
                            </li>
                            <li class="cs-drop-li">
                                <a href="/seo-services" class="cs-li-link cs-drop-link {% if page.url == '/seo-services/' %} cs-active {% endif %}">SEO</a>
                            </li>
                        </ul>
                    </li>
                    <li class="cs-li">
                        <a href="/faq" class="cs-li-link {% if page.url == '/faq/' %} cs-active {% endif %}">
                            FAQ
                        </a>
                    </li>
                    <!-- <li class="cs-li">
                        <a href="/blog" class="cs-li-link {% if page.url == '/blog/' %} cs-active {% endif %}">
                            Blog
                        </a>
                    </li> -->
                    <li class="cs-li">
                        <a href="/pricing" class="cs-li-link {% if page.url == '/pricing/' %} cs-active {% endif %}">
                            Pricing
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/contact" class="cs-li-link {% if page.url == '/contact/' %} cs-active {% endif %}">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="/book-call" class="cs-button-solid">
            <!--SVG Arrow-->
            <div class="cs-wrapper">
                <svg width="34" height="34" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="14" cy="14" r="14" fill="white"/>
                    <path d="M20.923 13.0673L15.0897 7.23393C14.9325 7.08213 14.722 6.99813 14.5035 7.00003C14.285 7.00193 14.076 7.08957 13.9215 7.24408C13.767 7.39858 13.6793 7.60759 13.6774 7.82609C13.6755 8.04459 13.7595 8.25509 13.9113 8.41226L18.3222 12.8231L7.83333 12.8231C7.61232 12.8231 7.40036 12.9109 7.24408 13.0672C7.0878 13.2235 7 13.4354 7 13.6564C7 13.8774 7.0878 14.0894 7.24408 14.2457C7.40036 14.402 7.61232 14.4898 7.83333 14.4898L18.3222 14.4898L13.9113 18.9006C13.8317 18.9775 13.7682 19.0694 13.7246 19.1711C13.6809 19.2728 13.6579 19.3821 13.657 19.4928C13.656 19.6034 13.6771 19.7131 13.719 19.8156C13.7609 19.918 13.8228 20.011 13.901 20.0893C13.9792 20.1675 14.0723 20.2294 14.1747 20.2713C14.2771 20.3132 14.3868 20.3343 14.4975 20.3333C14.6081 20.3323 14.7175 20.3094 14.8192 20.2657C14.9208 20.222 15.0128 20.1585 15.0897 20.0789L20.923 14.2456C21.0792 14.0893 21.167 13.8774 21.167 13.6564C21.167 13.4355 21.0792 13.2235 20.923 13.0673Z" fill="black"/>
                </svg>
            </div>
            <span class="button-text">Book A Call</span>
        </a>
        <!--Dark Mode toggle, uncomment button code if you want to enable a dark mode toggle-->
        <!-- <label class="switch" aria-label="dark mode toggle">
            <input type="checkbox" id="dark-mode-toggle"/>
            <span class="slider"></span>
        </label> -->
    </div>
</header>
                            