<!-- {% set schema = {
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": client.domain ~ "/#website",
      "url": client.domain ~ "/",
      "name": client.name
    },
    {
      "@type": "Organization",
      "@id": client.domain ~ "/#organization",
      "name": client.name,
      "url": client.domain ~ "/",
      "email": client.email,
      "telephone": client.phoneForTel
    }
  ]
} %}

<script type="application/ld+json">
{{ schema | dump | safe }}
</script> -->

