---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: ''
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/office-interior-page.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/office-interior-page.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/office-interior-page.jpg" alt="office space" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="sbs-r-870">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/about-page-headshot.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/about-page-headshot.jpg" alt="therapy" width="630" height="775">
            </picture>                                            
            <div class="cs-content">
                <h2 class="cs-title">Dedicated To <span class="alt-title">Exceptional</span> Web Design And SEO</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta officiis praesentium necessitatibus tempora unde quasi porro nemo aliquam voluptatem quaerat hic, doloremque impedit perferendis labore, ea libero voluptas laudantium? 
                </p>
                <p class="cs-text">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
                <a href="" class="cs-button-solid">GET IN TOUCH</a>
            </div>
        </div>
    </section>
                                    
    <!-- ============================================ -->
    <!--                 Why Choose                   -->
    <!-- ============================================ -->

    <section id="why-choose-12">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Personalized Service for <span class="alt-title">Outstanding</span> Results</h2>
                <p class="cs-text">
                    At Southern Tier Web Designs, we pride ourselves on providing a personal touch that sets us apart from larger marketing agencies. We take care of each customer personally, ensuring your unique needs are met with dedicated attention.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/sheild.svg" alt="heart icon" width="42" height="42" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Personal Attention</h3>
                    <p class="cs-item-text">
                        Every project receives personalized attention, using custom code for tailored solutions that perfectly fit your business needs and goals.
                    </p>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/toolbox.svg" alt="toolbox icon" width="42" height="42" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Custom Coded Websites</h3>
                    <p class="cs-item-text">
                        Our websites are custom coded, ensuring unique, high-performance solutions without relying on website builders.
                    </p>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/ribbon.svg" alt="ribbon icon" width="32" height="42" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Attention To Detail</h3>
                    <p class="cs-item-text">
                        We emphasize attention to detail, delivering top-quality sites that enhance user experience and meet the highest standards.
                    </p>
                </li>
            </ul>
            <a href="" class="cs-button-solid">CONTACT US</a>
        </div>
    </section>
                                                                    
    
                                    

    {% include 'components/cta.html' %}

{% endblock %}