---
title: 'About | Southern Tier Web Designs'
description: "Learn about Southern Tier Web Designs in Binghamton, NY. We specialize in custom web design, SEO, and personalized service, focusing on clean code and exceptional website performance."
preloadImg: ''
permalink: ''
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1519">
        <div class="cs-container">
            <span class="cs-int-title">About Us</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/about" class="cs-link cs-active">About</a>
            </div>
        </div>
        <svg class="cs-mask" xmlns="http://www.w3.org/2000/svg" width="1920" height="136" viewBox="0 0 1920 136" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z" fill="#ffffff"/>
        </svg>
    </div>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="sbs-r-870">
        <div class="cs-container">
            <picture class="cs-picture">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/IMG_9736.jpg" | resize({ width: 576, height: 352, position: "top" }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/IMG_9736.jpg" | resize({ width: 576, height: 352, position: "top" }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/IMG_9736.jpg" | resize({ width: 576, height: 352, position: "top" }) | jpeg %}" type="image/jpeg">
               <!--Tablet Image-->
               <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/IMG_9736.jpg" | resize({ width: 1100, height: 1070, position: "top" }) | avif %}" type="image/avif">
               <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/IMG_9736.jpg" | resize({ width: 1100, height: 1070, position: "top" }) | webp %}" type="image/webp">
               <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/IMG_9736.jpg" | resize({ width: 1100, height: 1070, position: "top" }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/IMG_9736.jpg" | resize({ width: 1260, height: 1070, position: "top" }) | avif %}" type="image/avif">
               <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/IMG_9736.jpg" | resize({ width: 1260, height: 1070, position: "top" }) | webp %}" type="image/webp">
               <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/IMG_9736.jpg" | resize({ width: 1260, height: 1070, position: "top" }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/IMG_9736.jpg" | resize({ width: 1260, height: 1070, position: "top" }) | jpeg %}" alt="Liam headshot" width="630" height="535" loading="lazy" decoding="async" aria-hidden="true">
            </picture>                                        
            <div class="cs-content">
                <h2 class="cs-title">Dedicated To Exceptional Web Design And SEO</h2>
                <p class="cs-text">
                    My name is Liam, and I'm the owner and developer behind Southern Tier Web Designs. I began web development as a hobby, but it quickly grew into a passion for building websites that help small and medium sized businesses succeed. I noticed a common trend for businesses of this size—most had outdated and poorly optimized websites. I saw an opportunity to solve this in two ways:  by building custom, high-performing sites and by becoming a reliable web partner business owners can turn to anytime they need support.
                </p>
                <p class="cs-text">
                    As I connected with more business owners, I kept hearing the same frustrations—agencies were expensive and unresponsive, and DIY site builders left them with underwhelming results. Most just wanted a reliable partner who could deliver a site that looks great, performs well, and is easy to update when needed. That's exactly what I aim to provide.
                </p>
                <a href="/book-call" class="cs-button-solid">Let's Chat</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Steps                      -->
    <!-- ============================================ -->

    <section id="steps-284">
        <div class="cs-container">
            <!-- Left Section -->
            <div class="cs-content">
                <h2 class="cs-title">Our Process for Building Your Website</h2>
                <p class="cs-text">
                    We follow a structured, collaborative process to turn your ideas into a powerful online presence. Every stage, from initial planning and design to development and launch, is guided by your goals. And once your site is live, we stay in your corner with ongoing support and quick edits to keep everything running smoothly.
                </p>
                <ul id="list-1404">
                    <li class="cs-item">
                        <h3 class="cs-h3">
                            <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/about-responsiveness.svg" alt="icon" width="32" height="32">
                            Responsiveness
                        </h3>
                        <p class="cs-item-text">
                            Responding to our clients quickly and taking care of edits as fast as possible is the core of our business.
                        </p>
                    </li>
                </ul>
                <a href="/book-call" class="cs-button-solid">Get Started</a>
            </div>
            <!-- Right Section -->
            <ul class="cs-right-section">
                <li class="cs-item">
                    <span class="cs-number">01</span>
                    <p class="cs-item-text">
                        <strong>Design Approval:</strong> Review, critque, and approve the initial design concepts presented.
                    </p>
                </li>
                <li class="cs-item">
                    <span class="cs-number">02</span>
                    <p class="cs-item-text">
                        <strong>Coding & Demo Link:</strong> We code your website and provide a demo link for your approval.
                    </p>
                </li>
                <li class="cs-item">
                    <span class="cs-number">03</span>
                    <p class="cs-item-text">
                        <strong>Final Optimization & Launch:</strong> Final optimizations are made for speed and performance before going live.
                    </p>
                </li>
                <li class="cs-item">
                    <span class="cs-number">04</span>
                    <p class="cs-item-text">
                        <strong>Ongoing Support</strong> We'll continue to be in your corner by taking care of edits, updates, and website analytics.
                    </p>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-355">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Expert Web Design Trusted By Businesses Like Yours</h2>
                <p class="cs-text">
                    With 5 star reviews across the board, we can confidently say we do the job right the first time. We are committed to delivering a website that not only stands out but perfectly reflects your brand identity.  To us, this isn't just a one-and-done service—it's an ongoing partnership. 
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/yellow-stars.svg" alt="stars" width="130" height="19">
                    <p class="cs-review">
                        I had a great experience having Liam build my company's website and will be doing more work with him in the future. I highly recommend him to anyone looking to put a website together for their business!
                    </p>
                    <span class="cs-name">Andrew S.</span>
                    <span class="cs-job">Syracuse, NY</span>
                </li>
                <li class="cs-item">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/yellow-stars.svg" alt="stars" width="130" height="19">
                    <p class="cs-review">
                        Liam listened to my concerns and direction and delivered a perfectly creative example of what a web page should be. It's the perfect balance of information with eye catching design. Thanks for all that you do to keep the phones ringing and ringing for us.
                    </p>
                    <span class="cs-name">Frank F.</span>
                    <span class="cs-job">Newburgh, NY</span>
                </li>
                <li class="cs-item">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/yellow-stars.svg" alt="stars" width="130" height="19">
                    <p class="cs-review">
                        Southern Tier Web Designs is so efficient and helpful throughout the whole process of website development. I worked with Liam Straebler who was very responsive affordable and helpful in every aspect...
                    </p>
                    <span class="cs-name">Alexa C.</span>
                    <span class="cs-job">Gainesville, FL</span>
                </li>
            </ul>
            <a href="https://www.google.com/maps/place/Southern+Tier+Web+Designs/@35.9280705,-95.6837235,4z/data=!4m8!3m7!1s0x2c923cf2132abe07:0x8e54a3879232da9a!8m2!3d35.9280705!4d-95.6837235!9m1!1b1!16s%2Fg%2F11lnn3y9w8?authuser=0&hl=en&entry=ttu&g_ep=EgoyMDI1MDIwOS4wIKXMDSoASAFQAw%3D%3D" class="cs-button-solid" target="_blank">Google Reviews</a>
        </div>
    </section>
                                    
    <!-- ============================================ -->
    <!--                 Why Choose                   -->
    <!-- ============================================ -->

    <!-- <section id="why-choose-12">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Personalized Service for Outstanding Results</h2>
                <p class="cs-text">
                    At Southern Tier Web Designs, we pride ourselves on providing a personal touch that sets us apart from larger marketing agencies. We take care of each customer personally, ensuring your unique needs are met with dedicated attention.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img loading="lazy" decoding="async" src="/assets/svgs/public-service.svg" alt="attention icon" width="42" height="42" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Personal Attention</h3>
                    <p class="cs-item-text">
                        Every project receives personalized attention, using custom code for tailored solutions that perfectly fit your business needs and goals.
                    </p>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img loading="lazy" decoding="async" src="/assets/svgs/programming.svg" alt="custom code icon" width="42" height="42" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Custom Coded Websites</h3>
                    <p class="cs-item-text">
                        Our websites are custom coded, ensuring unique, high-performance solutions without relying on website builders.
                    </p>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img loading="lazy" decoding="async" src="/assets/svgs/find.svg" alt="magnifyer icon" width="32" height="42" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Attention To Detail</h3>
                    <p class="cs-item-text">
                        We emphasize attention to detail, delivering top-quality sites that enhance user experience and meet the highest standards.
                    </p>
                </li>
            </ul>
            <a href="/contact" class="cs-button-solid">CONTACT US</a>
        </div>
    </section> -->
    
    {% include 'components/cta.html' %}

{% endblock %}