---
title: 'Contact | Southern Tier Web Designs'
description: "Get in touch with Southern Tier Web Designs in Binghamton, NY. Contact us for custom web design, SEO services, and personalized website management solutions."
preloadImg: ''
permalink: 'contact/'
eleventyNavigation:
    key: Contact Us
    order: 600
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1519">
        <div class="cs-container">
            <span class="cs-int-title">Contact Us</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/contact" class="cs-link cs-active">Contact</a>
            </div>
        </div>
        <svg class="cs-mask" xmlns="http://www.w3.org/2000/svg" width="1920" height="136" viewBox="0 0 1920 136" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z" fill="#ffffff"/>
        </svg>
    </div>

    <!-- ============================================ -->
    <!--                   Contact                    -->
    <!-- ============================================ -->

    <section id="contact-1388">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Get in Touch</h2>
                <p class="cs-text">
                    We're here to answer your questions, discuss your goals, and explore how we can help your business grow online. Reach out using the form for more information or <a href="/book-call" class="cs-link">book a call here.</a>
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper">
                            <img aria-hidden="true" src="/assets/svgs/call.svg" alt="phone icon" class="cs-icon" width="40" height="40" decoding="async">
                        </picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Phone</span>
                            <a href="tel:{{client.phoneForTel}}" class="cs-link">{{client.phoneFormatted}}
                            </a>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper">
                            <img aria-hidden="true" src="/assets/svgs/email.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                        </picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Email</span>
                            <a href="mailto:{{client.email}}" class="cs-link">{{client.email}}</a>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-icon-wrapper">
                            <img aria-hidden="true" src="/assets/svgs/pin.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                        </picture>
                        <div class="cs-flex-group">
                            <span class="cs-header">Serving</span>
                            <span class="cs-link">The US & Canada</span>
                        </div>
                    </li>
                </ul>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-1388" name="Contact Form" method="post" data-netlify="true">
                <h3 class="cs-h3">Get More Information</h3>
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-1388" name="name" placeholder="Name">
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="email" id="email-1388" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-phone">
                    Phone
                    <input class="cs-input" required type="number" id="phone-1388" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1388" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
            </form>
        </div>
    </section>

{% endblock %}