---
title: 'Contact | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/office-interior-page-m.webp'
permalink: 'contact/'
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="/assets/images/office-interior-page-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/office-interior-page.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/office-interior-page.jpg" alt="office space" loading="eager" width="3840" height="954">
        </picture>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}