---
title: 'FAQ | Southern Tier Web Designs'
description: "Find answers to common questions about our web design, SEO services, pricing, and process. Learn how Southern Tier Web Designs can help your business grow online."
preloadImg: ''
permalink: 'faq/'
eleventyNavigation:
    key: FAQ
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/faq.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1519">
        <div class="cs-container">
            <span class="cs-int-title">FAQ</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/faq" class="cs-link cs-active">FAQ</a>
            </div>
        </div>
        <svg class="cs-mask" xmlns="http://www.w3.org/2000/svg" width="1920" height="136" viewBox="0 0 1920 136" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z" fill="#ffffff"/>
        </svg>
    </div>

    <!-- ============================================ -->
    <!--                     FAQ                      -->
    <!-- ============================================ -->

    <section id="faq-351">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Frequently Asked Questions</h2>
                <p class="cs-text">From pricing to our process and much more, all of your questions are answered below! Reach out any time if you don't see the answer you're looking for.</p>
            </div>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What's the purpose of the subscription option?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        The subscription model offers a few advantages over the lump sum option. Firstly, the lower upfront cost makes the subscription option much more affordable and lower risk. 
                        It also provides the unique option to get unlimited edits and 24/7 support, ensuring that your site always looks and works exactly how you want it to.  The subscription option is more of a service than a product. It's not just a website, but access to a website professional who will take care 
                        of your needs without the hassle of figuring it out yourself. We take care of everything so you don't have to worry about it.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do I keep paying for the subscription after the 6 months are up?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes. The subscription plan isn't just a payment plan for a website, but access to unlimited services for your site once it's up and running. For that reason, you'll continue
                        to pay the monthly subscription indefinitely after the initial 6 months in order to receive 24/7 support and unlimited edits. Ultimately, the website will be generating much more 
                        than $175/month in value for your business, especially after the initial 6 months, so it'll essentially be paying for itself.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Can I add unlimited edits to the lump sum package?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Absolutely! We offer unlimited edits and support for lump sum projects at $50/month, again with a 6 month minimum commitment. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How long will it take you to create my website from start to finish?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We typically take around 2-4 weeks to complete a website from start to finish. However, this is dependent on how quickly clients respond to content and image requests. We usually spend
                        around 1-2 weeks creating a design, which will then be presented to the client for approval, followed by 1-2 weeks to code the website itself.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do I keep my site if I cancel the subscription?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        No. If we allowed clients to keep the site after cancelling the subscription, everyone would do that and get a $3,200 website for $175. We'd be out of business pretty quickly.
                    </p>
                </li>
            </ul>
            <!--Added second UL, this allows you to open an FAQ item on each side without messing up the flexbox for the other -->
            <ul class="cs-faq-group">
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Why do you use custom code instead of Wordpress or any other page-builder?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Page-builders are riddled with problems that can be easily overcome with custom coded websites like ours. Improved load times, maintainability, customizability, and security all
                        help to make our custom coded sites much better than cookie cutter Wordpress or Wix sites. Our code is lightweight and not filled with bloat like most pagebuilders, ensuring loading speeds
                        that physically cannot be quicker.</a>
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What happens if I cancel before the 6 months is over?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        If you cancel prior to the completion of the initial 6 month contract, you will owe the cost of the website in full ($3,200) minus whatever you've already paid. Our goal is to create long lasting
                        relationships with our clients and we hope they feel the same way!
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How do invoices for the monthly subscription and lump sum plan work?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        For the subscription plan, once the contract is signed, you'll receive an invoice for work performed that month so we can get started working on the site. After that, you'll receive an invoice on the first of each month. There is 
                        a 7 day grace period. After the seventh day, if the invoice is not paid there will be a $25 late fee applied to that month's payment. However, we are very flexible as long as there is communication from the client. For the lump sum
                        package, you'll be charged half of the agreed upon amount upfront after signing the contract. The second half will be paid upon completion of the site. The same 7 day grace period and $25 late fee applies.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            If I cancel, do I keep my domain?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes! Even if we purchased the domain for you, it will be returned to you following cancellation. Your domain is always yours whether we bought it or not.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What SEO is involved in the lump sum and subscription options?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Both of our packages include on-page SEO such as content writing, fast load times, accessibility, and content structure. Off-page SEO such as link building, citations, PPC ads is not included
                        but we work with an SEO expert who we can connect you with to receive these services. 
                    </p>
                </li>
            </ul>
        </div>
    </section>

    {% include 'components/cta.html' %}

    <script>
        const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
        for (const item of faqItems) {
            const onClick = () => {
            item.classList.toggle('active')
        }
        item.addEventListener('click', onClick)
        }
    </script>

{% endblock %}