---
title: 'Pricing | Southern Tier Web Designs'
description: "Affordable web design pricing for small businesses. Explore our $150/month plan with hosting, maintenance, unlimited edits, and 24/7 support included. Build a better website for your business today."
preloadImg: ''
permalink: 'pricing/'
eleventyNavigation:
    key: Pricing
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/pricing.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1519">
        <div class="cs-container">
            <span class="cs-int-title">Pricing</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/pricing" class="cs-link cs-active">Pricing</a>
            </div>
        </div>
        <svg class="cs-mask" xmlns="http://www.w3.org/2000/svg" width="1920" height="136" viewBox="0 0 1920 136" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z" fill="#ffffff"/>
        </svg>
    </div>

    <!-- ============================================ -->
    <!--                  Pricing                     -->
    <!-- ============================================ -->

    <section id="pricing-357">
        <div class="cs-container">
            <ul class="cs-card-group">
                <!-- Option 1 -->
                <li class="cs-item">
                    <h3 class="cs-h3">Flat Fee</h3>
                    <p class="cs-item-text">
                        One and done.
                    </p>
                    <div class="cs-option-group">
                        <span class="cs-price">$1600<span class="cs-small"> + $25/month hosting</span></span>
                    </div>
                    <p class="cs-included">One time fee plus monthly hosting. Includes a 5 page custom design. Additional pages are charged a one-time fee of $100/page</p>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Custom website
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            5 pages included
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Logo design
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            General maintenance
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img2" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/plus-2.svg" alt="add on" width="20" height="20">
                            Domain purchase $20/year
                        </li>
                    </ul>
                    <a href="/contact" class="cs-button-solid">Start Today</a>
                </li>
                <!-- Option 2 -->
                <li class="cs-item cs-popular">
                    <h3 class="cs-h3">Monthly</h3>
                    <p class="cs-item-text">
                        Perfect for any business.
                    </p>
                    <div class="cs-option-group">
                        <span class="cs-price">$150<span class="cs-small">/month</span></span>
                    </div>
                    <span class="cs-included">6 month minimum contract. Includes a 5 page custom design. Additional pages are charged a one-time fee of $100/page</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Custom website
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            5 pages included
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            24/7 support and maintenance
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Unlimited edits
                        </li>
                        <li class="cs-li ">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Hosting included
                        </li>
                        <li class="cs-li ">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Logo design
                        </li>
                        <li class="cs-li ">
                            <img class="cs-li-img2" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/plus-2.svg" alt="add on" width="16" height="16">
                            Domain purchase $20/year
                        </li>
                    </ul>
                    <a href="/contact" class="cs-button-solid">Start Today</a>
                </li>
                <!-- Option 3 -->
                <li class="cs-item">
                    <h3 class="cs-h3">Edits</h3>
                    <p class="cs-item-text">
                        Any changes to your site taken care of.
                    </p>
                    <div class="cs-option-group">
                        <span class="cs-price">$40<span class="cs-small">/hour</span></span>
                    </div>
                    <span class="cs-included">Any alterations to flat fee sites taken care of. This does not include additional pages. 1 hour minimum.</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Adjustments to existing site
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Logo redesign
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Consultation
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Additional functionality
                        </li>
                    </ul>
                    <a href="/contact" class="cs-button-solid">Start Today</a>
                </li>
            </ul>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}