---
title: "Customer Testimonials | Leadwell Growth"
description: "Read real feedback from home service business owners who trust Leadwell Growth for Local SEO and Google Maps rankings."
preloadImg: ""
permalink: "testimonials/"
eleventyNavigation:
    key: Plans
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/testimonials.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-2248">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Real Home Service Businesses Who <span class="cs-color">Got Results</span></h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <p class="cs-item-text">
                        I am very pleased with how Liam updated our website. I am in a very competitive field and thanks to Leadwell Growth we have an advantage. Liam listened to my concerns and direction and delivered a perfectly creative example of what a web page should be. It's the perfect balance of information with eye catching design. Thanks for all that you do to keep the phones ringing and ringing for us.
                    </p>
                    <div class="cs-info">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <img class="cs-image" loading="lazy" decoding="async" src="/assets/images/review-frank.png" alt="profile picture" width="64" height="64">
                            </picture>
                            <img src="/assets/svgs/search.svg" alt="google" class="cs-icon">
                        </div>
                        <span class="cs-name">
                            Frank Foster
                            <span class="cs-desc">Green Acres Landscaping</span>
                        </span>
                    </div>
                </li>
                <li class="cs-item">
                    <p class="cs-item-text">
                        Just wanted take the time to leave a review for Leadwell Growth. I am a business owner and I had this company design a website for me. I was so impresed by the profesionalism and knowledge of the owner Liam. He designed a website for my company that was outstanding; no details were left out. I highly recomend him. Look no further, you wont be disapointed. Marc's p-h company.
                    </p>
                    <div class="cs-info">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <img class="cs-image" loading="lazy" decoding="async" src="/assets/images/review-marc.png" alt="profile picture" width="64" height="64">
                            </picture>
                            <img src="/assets/svgs/search.svg" alt="google" class="cs-icon">
                        </div>
                        <span class="cs-name">
                            Marc DeLorenzo
                            <span class="cs-desc">Marc's Plumbing & Heating</span>
                        </span>
                    </div>
                </li>
                <li class="cs-item">
                    <p class="cs-item-text">
                        This young man does exceptional work. I talked to him several times for months prior to using his service each time I spoke with him you could hear more and more confidence in his voice each time… I pulled the trigger and finally let him design a website for me and I could not be any happier within 24 hours. Several new customers have contacted me through the website just as designed and I've heard nothing but great reviews...
                    </p>
                    <div class="cs-info">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <img class="cs-image" loading="lazy" decoding="async" src="/assets/images/review-fred.png" alt="profile picture" width="64" height="64">
                            </picture>
                            <img src="/assets/svgs/search.svg" alt="google" class="cs-icon">
                        </div>
                        <span class="cs-name">
                            Fred Wieland
                            <span class="cs-desc">Fast Freddy's Auto Detailing</span>
                        </span>
                    </div>
                </li>
            </ul>
            <a href="https://www.google.com/maps/place/Leadwell+Growth/@42.5369138,-76.9644724,9z/data=!4m8!3m7!1s0x2c923cf2132abe07:0x8e54a3879232da9a!8m2!3d42.541979!4d-75.7820605!9m1!1b1!16s%2Fg%2F11lnn3y9w8?entry=ttu&g_ep=EgoyMDI2MDIxMS4wIKXMDSoASAFQAw%3D%3D" class="cs-button-solid" target="_blank">
                <div class="cs-wrapper">
                    <svg width="34" height="34" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="14" cy="14" r="14" fill="white"/>
                        <path d="M20.923 13.0673L15.0897 7.23393C14.9325 7.08213 14.722 6.99813 14.5035 7.00003C14.285 7.00193 14.076 7.08957 13.9215 7.24408C13.767 7.39858 13.6793 7.60759 13.6774 7.82609C13.6755 8.04459 13.7595 8.25509 13.9113 8.41226L18.3222 12.8231L7.83333 12.8231C7.61232 12.8231 7.40036 12.9109 7.24408 13.0672C7.0878 13.2235 7 13.4354 7 13.6564C7 13.8774 7.0878 14.0894 7.24408 14.2457C7.40036 14.402 7.61232 14.4898 7.83333 14.4898L18.3222 14.4898L13.9113 18.9006C13.8317 18.9775 13.7682 19.0694 13.7246 19.1711C13.6809 19.2728 13.6579 19.3821 13.657 19.4928C13.656 19.6034 13.6771 19.7131 13.719 19.8156C13.7609 19.918 13.8228 20.011 13.901 20.0893C13.9792 20.1675 14.0723 20.2294 14.1747 20.2713C14.2771 20.3132 14.3868 20.3343 14.4975 20.3333C14.6081 20.3323 14.7175 20.3094 14.8192 20.2657C14.9208 20.222 15.0128 20.1585 15.0897 20.0789L20.923 14.2456C21.0792 14.0893 21.167 13.8774 21.167 13.6564C21.167 13.4355 21.0792 13.2235 20.923 13.0673Z" fill="black"/>
                    </svg>
                </div>
                <span class="button-text">Read More Reviews</span>
            </a>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}