/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-855 {
    padding: clamp(8.25rem, 23.82vw, 10.5rem) 1rem clamp(3.75rem, 7.82vw, 6.25rem);
    /* clips the svg wave from overflowing */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-855::before {
    content: "";
    width: 95%;
    height: 100%;
    /* centered version */
    background: radial-gradient(circle 620px at 50% 30%, #FFFFFF 65%, #EBF8FF 78%, #2471c9 100%);
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    top: 0;
    z-index: 1;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    border-radius: 0 0 30px 30px;
  }
  #hero-855 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    z-index: 2;
  }
  #hero-855 .cs-content {
    max-width: 39.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
  }
  #hero-855 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    font-weight: 400;
    line-height: 1.2em;
    text-align: center;
    /* 23 characters including spaces wide */
    max-width: 23ch;
    margin: 0 0 1rem 0;
    color: #1a1a1a;
    position: relative;
  }
  #hero-855 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    max-width: 33.1875rem;
    /* 28px - 40px */
    margin: 0 0 clamp(1.75rem, 3.92vw, 2.5rem) 0;
    color: var(--bodyTextColor);
  }
  #hero-855 .cs-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
  #hero-855 .cs-button-solid {
    min-width: 11rem;
  }
  #hero-855 .cs-button-transparent {
    font-family: "Cabin";
    font-size: 1rem;
    font-weight: 700;
    /* 50px - 60px */
    line-height: clamp(3.75rem, 5.25vw, 4.375rem);
    text-align: center;
    text-decoration: none;
    min-width: 11rem;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    border-radius: 2.5rem;
    border: 1px solid #B8B8B8;
    padding: 0 1.5rem 0 0;
    background: none;
    color: #1a1a1a;
    display: inline-flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1.5rem;
    z-index: 1;
    transition: 0.2s ease-in;
  }
  #hero-855 .cs-button-transparent .button-text {
    transition: 0.2s cubic-bezier(0.2, 0, 0.9, 1);
  }
  #hero-855 .cs-button-transparent .cs-wrapper {
    width: 2.75rem;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    position: relative;
    transition: 0.2s cubic-bezier(0.2, 0, 0.9, 1);
  }
  #hero-855 .cs-button-transparent .cs-wrapper svg {
    border-radius: 30px;
    box-shadow: 4px 4px 24px rgba(26, 26, 26, 0.15);
  }
  #hero-855 .cs-button-transparent:hover {
    transform: scale(0.95);
  }
  #hero-855 .cs-button-transparent:hover .cs-wrapper {
    transform: translateX(10px);
  }
  #hero-855 .cs-button-transparent:hover .button-text {
    transform: translateX(-10px);
  }
  #hero-855 #list-1405 {
    display: none;
  }
  #hero-855 .cs-picture-group {
    width: 100%;
    height: 320px;
    max-width: clamp(20rem, 41.67vw, 25rem);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    border-radius: 1rem;
    border: 1px solid #E0E0E0;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: translateY(-20px); /* optional slight upward motion */
    animation: fadeIn 1s ease-out forwards;
  }
  #hero-855 .cs-picture-group::after {
    content: "";
    background-color: #F7F7F7;
    width: 96%;
    height: 96%;
    position: absolute;
    border-radius: 0.75rem;
    pointer-events: none;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  }
  #hero-855 .cs-picture-group::before {
    content: "";
    background-color: #FFF;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
    pointer-events: none;
    z-index: -1;
  }
  #hero-855 .cs-picture {
    height: 300px;
    width: 270px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* clips img tag corners */
    overflow: hidden;
    border-radius: 0.625rem;
    z-index: 100;
  }
  #hero-855 .cs-picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #hero-855 .cs-wave {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 1;
    fill: #ffffff;
  }
  #hero-855 .cs-wave path {
    width: 100%;
    height: auto;
  }
  #hero-855 .mobile {
    bottom: -0.4375rem;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-855 {
    text-align: left;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  #hero-855::before {
    content: "";
    width: 95%;
    height: 100%;
    /* centered version */
    background: radial-gradient(circle 1900px at 50% -150%, #FFFFFF 65%, #EBF8FF 78%, #60AAFF 100%);
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    top: 0;
    z-index: 1;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    border-radius: 0 0 30px 30px;
  }
  #hero-855 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #hero-855 .cs-content {
    width: 50vw;
    /* prevents flex-box from squishing it */
    flex: none;
    align-items: flex-start;
  }
  #hero-855 .cs-text {
    margin: 0 0 1rem 0;
  }
  #hero-855 .cs-title,
  #hero-855 .cs-text {
    text-align: left;
  }
  #hero-855 .cs-button-solid,
  #hero-855 .cs-button-transparent {
    min-width: 11.625rem;
  }
  #hero-855 #list-1405 {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  #hero-855 #list-1405 .cs-li {
    font-size: 0.8125rem;
    list-style: none;
    line-height: 1.5em;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 0.5rem;
  }
  #hero-855 #list-1405 .cs-icon {
    width: 1.25rem;
    height: auto;
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: 1px;
    display: block;
  }
  #hero-855 .cs-picture-group {
    position: absolute;
    right: 2rem;
    width: 40vw;
    height: 420px;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    border-radius: 1rem;
    background-color: #F7F7F7;
    border: 1px solid #E0E0E0;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.15);
  }
  #hero-855 .cs-picture {
    height: 390px;
    width: 360px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* clips img tag corners */
    overflow: hidden;
    border-radius: 0.625rem;
  }
  #hero-855 .cs-picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #hero-855 .cs-wave {
    width: 100%;
    left: 0;
    transform: none;
  }
}
/* Large Desktop - 1024px */
@media only screen and (min-width: 93.75rem) {
  #hero-855 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #hero-855 .cs-picture {
    right: -20.375rem;
    bottom: -16rem;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  .services {
    z-index: 100;
    position: relative;
    border-top: 0.375em solid var(--primary);
    border-radius: 0.3125em;
    margin: auto;
    margin-top: -10.4375em;
    margin-bottom: 3.125em;
    background: #fff;
    max-width: 82.5em;
    width: 90%;
    padding: 3.125em 1.25em;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  }
  .services .card {
    display: block;
    margin: auto;
    margin-bottom: 3.125em;
    max-width: 22.3125em;
    width: 100%;
  }
  .services .card picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1.4375em;
    background: var(--primary);
    height: 5.5em;
    width: 5.5em;
  }
  .services .card picture img {
    height: 3em;
    width: 3em;
  }
  .services .card h2 {
    margin-bottom: 0.65em;
    font-size: 2em;
    line-height: 1.35em;
    font-weight: 700;
    color: #1a1a1a;
    text-align: center;
  }
  .services .card p {
    opacity: 0.7;
    width: 100%;
    line-height: 1.3333333333em;
    text-align: center;
  }
  .services .card:last-of-type {
    margin-bottom: 0;
  }
}
/* Inbetween */
@media only screen and (min-width: 768px) {
  .services {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 98%;
    font-size: min(1.8vw, 1em);
  }
  .services .card {
    margin: 0;
    max-width: 20.3125em;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  .services {
    padding: 3.125em 5em;
  }
  .services .card {
    max-width: 22.3125em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services {
    background: var(--medium);
  }
  body.dark-mode #services picture {
    background: var(--primaryDark);
  }
  body.dark-mode #services h2 {
    font-weight: bold;
    color: #fff;
  }
}

/*# sourceMappingURL=critical.css.map */
