/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-408 {
    /* 200px - 300px - leaving extra space for the navigation */
    padding: clamp(11.25rem, 23.82vw, 18.75rem) 1rem;
    padding-bottom: 0;
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-408 .cs-container {
    width: 100%;
    /* changes to 100% at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 36px - 100px */
    gap: clamp(2.25rem, 10vw, 6.25rem);
  }
  #hero-408 .cs-content {
    max-width: 39.375rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1000;
  }
  #hero-408 .cs-title {
    /* 49px - 84px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    max-width: 100%;
    font-family: "Anton";
  }
  #hero-408 .cs-title,
  #hero-408 .cs-text {
    text-align: left;
    color: var(--bodyTextColorWhite);
  }
  #hero-408 .cs-text {
    margin-bottom: 2rem;
    font-weight: normal;
    font-family: "Lato";
  }
  #hero-408 .cs-stat-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    position: relative;
    z-index: 1;
  }
  #hero-408 .cs-stat-group .cs-picture {
    width: 100%;
  }
  #hero-408 .cs-stat-group .cs-picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  #hero-408 .cs-button-solid {
    background-color: #FFFFFF;
    box-shadow: inset 0 -4px 0 #C6C6C6;
    color: var(--primary);
    transition: box-shadow 0.3s;
  }
  #hero-408 .cs-button-solid:hover {
    box-shadow: none;
  }
  #hero-408 .custom-shape-divider-bottom-1730738793 {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  #hero-408 .custom-shape-divider-bottom-1730738793 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40vw;
  }
  #hero-408 .custom-shape-divider-bottom-1730738793 .shape-fill {
    fill: #FFFFFF;
  }
  #hero-408 .cs-background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
  }
  #hero-408 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #hero-408 .cs-background:before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    /* Black Color Overlay */
    content: "";
    opacity: 0.7;
    display: block;
    background: linear-gradient(146deg, var(--primary) 0%, var(--secondary) 46%);
    height: 100%;
    width: 100%;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-408 {
    padding: clamp(18rem, 26vw, 23.5rem) 1rem;
    padding-right: 0;
  }
  #hero-408 .cs-container {
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-end;
  }
  #hero-408 .cs-content {
    width: 100%;
    padding: 0;
  }
  #hero-408 .cs-stat-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    position: relative;
    z-index: 1;
  }
  #hero-408 .cs-stat-group .cs-picture {
    width: 100%;
  }
  #hero-408 .cs-stat-group .cs-picture img {
    width: 100%;
    transform: scale(2);
    height: auto;
    object-fit: cover;
    position: absolute;
    right: 100px;
    z-index: -1;
  }
}
/* Desktop Parallax - 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero-408 .cs-background {
    background: url("/assets/images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* creates the parallax effect */
    background-attachment: fixed;
  }
  #hero-408 .cs-background img {
    display: none;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-408 {
    /* this ties the padding bottom value to the size of the screen width. The wider the image gets the taller it gets, meaning it will get closer and closer to the content. This makes the padding bottom value grow with the screen size so it accounts for the growing height of the svg graphic getting taller */
    padding-bottom: 20vw;
    padding-top: clamp(6.5rem, 19.95vw, 12.75em);
  }
  #hero-408 .cs-content {
    width: 100%;
  }
  #hero-408 .cs-stat-group {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    position: relative;
    z-index: 1;
  }
  #hero-408 .cs-stat-group .cs-picture {
    width: 100%;
  }
  #hero-408 .cs-stat-group .cs-picture img {
    width: 85%;
    transform: scale(1.9);
    height: auto;
    object-fit: cover;
    position: absolute;
    right: 150px;
    bottom: -300px;
    z-index: -1;
  }
  #hero-408 .cs-text {
    width: 80%;
  }
  #hero-408 .cs-title {
    max-width: 100%;
    font-family: "Anton";
  }
}
/* Large Desktop - 1920px */
@media only screen and (min-width: 84rem) {
  #hero-408 {
    /* this ties the padding bottom value to the size of the screen width. The wider the image gets the taller it gets, meaning it will get closer and closer to the content. This makes the padding bottom value grow with the screen size so it accounts for the growing height of the svg graphic getting taller */
    padding: 16.5rem;
    padding-bottom: 20vw;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero-408 .cs-title,
  body.dark-mode #hero-408 .cs-text,
  body.dark-mode #hero-408 .cs-header,
  body.dark-mode #hero-408 .cs-button-transparent {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #hero-408 .alt-dark-title {
    color: var(--primary);
  }
  body.dark-mode #hero-408 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000000;
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: 1;
  }
  body.dark-mode #hero-408 .cs-logo {
    filter: grayscale(1) brightness(400%);
  }
  body.dark-mode #hero-408 .custom-shape-divider-bottom-1730738793 .shape-fill {
    fill: var(--dark);
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  .services {
    z-index: 100;
    position: relative;
    border-top: 0.375em solid var(--primary);
    border-radius: 0.3125em;
    margin: auto;
    margin-top: -10.4375em;
    margin-bottom: 3.125em;
    background: #fff;
    max-width: 82.5em;
    width: 90%;
    padding: 3.125em 1.25em;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  }
  .services .card {
    display: block;
    margin: auto;
    margin-bottom: 3.125em;
    max-width: 22.3125em;
    width: 100%;
  }
  .services .card picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1.4375em;
    background: var(--primary);
    height: 5.5em;
    width: 5.5em;
  }
  .services .card picture img {
    height: 3em;
    width: 3em;
  }
  .services .card h2 {
    margin-bottom: 0.65em;
    font-size: 2em;
    line-height: 1.35em;
    font-weight: 700;
    color: #1a1a1a;
    text-align: center;
  }
  .services .card p {
    opacity: 0.7;
    width: 100%;
    line-height: 1.3333333333em;
    text-align: center;
  }
  .services .card:last-of-type {
    margin-bottom: 0;
  }
}
/* Inbetween */
@media only screen and (min-width: 768px) {
  .services {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 98%;
    font-size: min(1.8vw, 1em);
  }
  .services .card {
    margin: 0;
    max-width: 20.3125em;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  .services {
    padding: 3.125em 5em;
  }
  .services .card {
    max-width: 22.3125em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services {
    background: var(--medium);
  }
  body.dark-mode #services picture {
    background: var(--primaryDark);
  }
  body.dark-mode #services h2 {
    font-weight: bold;
    color: #fff;
  }
}

/*# sourceMappingURL=critical.css.map */
