/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-470 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #services-470 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-470 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-470 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #services-470 .cs-item {
    width: 100%;
    text-align: left;
    list-style: none;
    /* 24px - 32px */
    padding: clamp(1.5rem, 3.5vw, 2rem);
    box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
    border: 1px solid #d9d9d9;
    background-color: #fafbfc;
    border-radius: 0.75rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* clips the border bottom to match the curve of the border */
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* 16px - 36px */
    gap: clamp(1.5rem, 3vw, 2.25rem);
    position: relative;
    z-index: 1;
  }
  #services-470 .cs-item:hover:before {
    height: 100%;
  }
  #services-470 .cs-item:hover .cs-h3,
  #services-470 .cs-item:hover .cs-item-text,
  #services-470 .cs-item:hover .cs-link {
    color: var(--bodyTextColorWhite);
  }
  #services-470 .cs-item:hover .cs-picture {
    border-color: #fff;
  }
  #services-470 .cs-item:hover .cs-picture img {
    /* makes img turn grey, then brightened to get whiter */
    filter: grayscale(1) brightness(1000%);
  }
  #services-470 .cs-item:before {
    /* border bottom that aniates on hover */
    content: "";
    width: 100%;
    height: 0.25rem;
    background: linear-gradient(146deg, var(--primary) 0%, var(--secondary) 66%);
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: height 0.3s;
  }
  #services-470 .cs-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* 60px - 80px */
    width: clamp(3.75rem, 7vw, 5rem);
    height: clamp(3.75rem, 7vw, 5rem);
    border-radius: 50%;
    border: clamp(2px, 0.4vw, 4px) solid var(--secondary);
    /* prevents border from affecting height and width */
    box-sizing: border-box;
    /* prevents flexbox from squishing it */
    flex: none;
    z-index: 10;
    transition: border-color 0.3s;
  }
  #services-470 .cs-picture img {
    /* 30px - 44px */
    width: clamp(1.875rem, 4.5vw, 2.75rem);
    height: auto;
    display: block;
    position: relative;
    z-index: 10;
  }
  #services-470 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.35rem);
    font-family: "Anton";
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5em;
    margin: 0;
    /* 8px - 16px */
    margin-bottom: clamp(0.5rem, 1.5vw, 1rem);
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #services-470 .cs-item-text {
    font-size: 0.875rem;
    line-height: 1.5em;
    margin: 0 0 1.5rem 0;
    color: var(--bodyTextColor);
    transition: color 0.3s;
  }
  #services-470 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    color: var(--primary);
    position: relative;
  }
  #services-470 .cs-link:hover:before {
    width: 100%;
  }
  #services-470 .cs-link:before {
    /* hover bar under link */
    content: "";
    width: 0%;
    height: 0.1875rem;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.1875rem;
    left: 0;
    transition: width 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-470 {
    padding-top: 3.125rem;
  }
  #services-470 .cs-container {
    max-width: 80rem;
  }
  #services-470 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #services-470 .cs-item {
    width: clamp(31.5%, 30.5vw, 32.2%);
    flex-direction: column;
    gap: 1.5rem;
  }
}
/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-470 .cs-text {
    width: 100%;
    min-width: 48.75rem;
  }
  #services-470 .cs-item {
    flex-direction: row;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-470 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #services-470 .cs-title,
  body.dark-mode #services-470 .cs-text,
  body.dark-mode #services-470 .cs-heading3 {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-470 .cs-item {
    background-color: var(--accent);
  }
  body.dark-mode #services-470 .cs-h3,
  body.dark-mode #services-470 .cs-item-text,
  body.dark-mode #services-470 .cs-link {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-470 .cs-picture {
    border-color: #fff;
  }
  body.dark-mode #services-470 .cs-picture img {
    /* makes img turn grey, then brightened to get whiter */
    filter: grayscale(1) brightness(1000%);
  }
}
/*-- -------------------------- -->
<---       Featured Service     -->
<--- -------------------------- -*/
@media only screen and (min-width: 0rem) {
  #sbs-1362 {
    z-index: 1;
    position: relative;
    overflow: hidden;
    padding: var(--sectionPadding);
    padding-top: 0rem;
  }
  #sbs-1362 .cs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 36.5rem;
    width: 100%;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1362 .cs-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 39.375rem;
    width: 100%;
    text-align: left;
  }
  #sbs-1362 .cs-title {
    max-width: 26ch;
  }
  #sbs-1362 .cs-text {
    margin-bottom: 1.5rem;
  }
  #sbs-1362 #list-1597 {
    display: grid;
    align-items: center;
    margin: 0 0 2rem;
    max-width: clamp(34.375rem, 50vw, 39.375rem);
    width: 100%;
    padding: 0;
    gap: clamp(1rem, 4vw, 2.5rem);
  }
  #sbs-1362 #list-1597 .cs-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    list-style: none;
    gap: 0.75rem;
  }
  #sbs-1362 #list-1597 .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 0.625rem;
  }
  #sbs-1362 #list-1597 .cs-h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    color: var(--headerColor);
    gap: 0.5rem;
  }
  #sbs-1362 #list-1597 .cs-item-text {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #sbs-1362 .cs-image-group {
    position: relative;
    border-radius: 1.25rem;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
    height: 32.5rem;
    max-width: 36.625rem;
    width: 100%;
    overflow: hidden;
  }
  #sbs-1362 .cs-background {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #sbs-1362 .cs-background img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #sbs-1362 .cs-box {
    position: absolute;
    bottom: clamp(0.75rem, 1.9vw, 1.5rem);
    right: clamp(0.75rem, 1.9vw, 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: #fff;
    width: 80%;
    max-width: 19rem;
    box-sizing: border-box;
    padding: 1.5rem;
    text-align: left;
    gap: 1.5rem;
  }
  #sbs-1362 .cs-flex {
    display: flex;
    flex-direction: column;
  }
  #sbs-1362 .cs-name {
    display: block;
    text-transform: uppercase;
    font-family: var(--headerFont);
    font-size: clamp(1rem, 1.8vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 700;
    color: var(--headerColor);
  }
  #sbs-1362 .cs-job {
    display: block;
    font-size: clamp(0.875rem, 1.8vw, 1rem);
    line-height: 1.2em;
    color: var(--primary);
  }
  #sbs-1362 .cs-box-icon {
    display: block;
    height: 3rem;
    width: auto;
  }
}
@media only screen and (min-width: 48rem) {
  #sbs-1362 {
    padding-top: 3.125rem;
  }
  #list-1597 {
    grid-template-columns: repeat(12, 1fr);
  }
  #list-1597 .cs-item {
    grid-column: span 6;
  }
}
@media only screen and (min-width: 64rem) {
  #sbs-1362 .cs-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    max-width: 80rem;
  }
  #sbs-1362 .cs-image-group {
    height: auto;
  }
  #sbs-1362 .cs-content {
    align-self: center;
  }
}
/*-- -------------------------- -->
<---          Portfolio         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-1374 {
    padding: var(--sectionPadding);
    padding-bottom: 6.25rem;
    position: relative;
    z-index: 1;
    /* Prevents overflow from the image going off screen */
    overflow: hidden;
  }
  #gallery-1374 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-1374 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #gallery-1374 .cs-title, #gallery-1374 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  #gallery-1374 .cs-image-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    /* 16px - 30px */
    gap: clamp(1rem, 2vw, 1.875rem);
  }
  #gallery-1374 .cs-link {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #gallery-1374 .cs-item {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-column: span 12;
    z-index: 3;
  }
  #gallery-1374 .cs-item:hover .cs-item-text {
    box-shadow: none;
  }
  #gallery-1374 .cs-item:hover .cs-icon {
    transform: rotate(45deg);
  }
  #gallery-1374 .cs-item:hover img {
    transform: scale(1.1);
  }
  #gallery-1374 .cs-picture {
    width: 100%;
    /* 344px - 420px */
    height: clamp(21.5rem, 30vw, 26.25rem);
    margin: auto;
    border-radius: 1.5rem;
    display: block;
    position: relative;
    overflow: hidden;
  }
  #gallery-1374 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
  #gallery-1374 .cs-item-text {
    /* 16px - 20px top & bottom, 16px - 40px left & right */
    padding: clamp(1rem, 2vw, 1.25rem) clamp(1rem, 2.8vw, 2.5rem);
    background-color: #f7f7f7;
    box-shadow: inset 0 -4px 0 #C6C6C6;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* makes the item text the element that grows to fill the container */
    flex-grow: 1;
    gap: 1rem;
    transition: box-shadow 0.3s;
  }
  #gallery-1374 .cs-flex {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #gallery-1374 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
    line-height: 1.2em;
    text-align: left;
    margin: 0;
    color: #1a1a1a;
    transition: color 0.3s;
  }
  #gallery-1374 .cs-desc {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.2vw, 1rem);
    line-height: 1.5em;
    color: #1a1a1a;
    transition: color 0.3s;
  }
  #gallery-1374 .cs-icon-wrapper {
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents the parent flexbox from shrinking the icon */
    flex-shrink: 0;
    transition: border-color 0.3s;
  }
  #gallery-1374 .cs-icon {
    width: auto;
    height: 0.75rem;
    transition: filter 0.3s, transform 0.3s;
  }
  #gallery-1374 .cs-background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
  }
  #gallery-1374 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #gallery-1374 .portfolio-shape-divider {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 0;
  }
  #gallery-1374 .portfolio-shape-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40vw;
  }
  #gallery-1374 .portfolio-shape-divider .shape-fill {
    fill: #FFFFFF;
  }
}
/* Tablet 768px */
@media only screen and (min-width: 48rem) {
  #gallery-1374 .cs-item {
    grid-column: span 1;
  }
}
/* Small Desktop 1024px */
@media only screen and (min-width: 64rem) {
  #gallery-1374 .cs-item {
    grid-column: span 1;
  }
  #gallery-1374 .cs-background {
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
  }
  #gallery-1374 .portfolio-shape-divider {
    bottom: 37%;
  }
  #gallery-1374 .portfolio-shape-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30vw;
  }
}
/* Large Desktop 1024px */
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #gallery-1374 .cs-title,
  body.dark-mode #gallery-1374 .cs-text,
  body.dark-mode #gallery-1374 .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #gallery-1374 .cs-text {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---         About Us           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1444 {
    padding: var(--sectionPadding);
    padding-top: 3.125rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbsr-1444 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #sbsr-1444 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-1444 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-1444 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-1444 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
  }
  #sbsr-1444 .cs-li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #sbsr-1444 .cs-li-picture {
    width: 5rem;
    height: 5rem;
    margin: 0;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
    z-index: 1;
  }
  #sbsr-1444 .cs-li-picture:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbsr-1444 .cs-li-icon {
    width: 2.625rem;
    height: auto;
    display: block;
  }
  #sbsr-1444 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #sbsr-1444 .cs-li-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbsr-1444 .cs-image-group {
    width: 100%;
    max-width: 36.625rem;
    /* Changes to auto at desktop */
    height: 32.5rem;
    /* 32px - 48px */
    border-radius: clamp(2rem, 4vw, 3rem);
    /* clips the corners of the children around the border radius */
    overflow: hidden;
    position: relative;
  }
  #sbsr-1444 .cs-background {
    width: 100%;
    height: 100%;
    /* makes it cover the parent dimensions */
    object-fit: cover;
    display: block;
  }
  #sbsr-1444 .cs-background img {
    width: 100%;
    height: 100%;
    /* makes it cover the parent like a backgorund image */
    object-fit: cover;
    display: block;
  }
  #sbsr-1444 .cs-box {
    text-align: left;
    width: 100%;
    max-width: 19rem;
    padding: 1.25rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: var(--secondary);
    /* 48px - 80px */
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    /* 12px - 20px */
    right: clamp(0.75rem, 1.9vw, 1.5rem);
    /* 12px - 20px */
    bottom: clamp(0.75rem, 1.9vw, 1.5rem);
  }
  #sbsr-1444 .cs-box .cs-h3 {
    font-family: "Anton";
    color: var(--bodyTextColorWhite);
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
  }
  #sbsr-1444 .cs-box-icon {
    width: 2.5rem;
    height: auto;
    display: block;
  }
  #sbsr-1444 .cs-desc {
    font-size: 1rem;
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 400;
    width: 100%;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1444 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbsr-1444 .cs-image-group {
    height: auto;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #sbsr-1444 .cs-content {
    width: 50%;
    padding: 2.5rem 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbsr-1444 .cs-title,
  body.dark-mode #sbsr-1444 .cs-text,
  body.dark-mode #sbsr-1444 .cs-li,
  body.dark-mode #sbsr-1444 .cs-h3,
  body.dark-mode #sbsr-1444 .cs-li-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbsr-1444 .cs-li-text, body.dark-mode #sbsr-1444 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #sbsr-1444 .cs-li-picture {
    background-color: var(--dark);
  }
}
/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1371 {
    padding: var(--sectionPadding);
    padding-top: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #why-choose-1371 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #why-choose-1371 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #why-choose-1371 .cs-title {
    max-width: 23ch;
  }
  #why-choose-1371 .cs-text {
    max-width: 52.5rem;
    margin-bottom: 1rem;
  }
  #why-choose-1371 .cs-text:last-of-type {
    margin-bottom: 0;
  }
  #why-choose-1371 .cs-text strong {
    color: var(--headerColor);
  }
  #why-choose-1371 .cs-item-picture {
    list-style: none;
    width: 100%;
    grid-column: span 12;
    position: relative;
  }
  #why-choose-1371 .cs-picture {
    width: 100%;
    height: 26.125rem;
    border-radius: 1.5rem;
    border: 1px solid #e8e8e8;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #why-choose-1371 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #why-choose-1371 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: stretch6;
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #why-choose-1371 .cs-item {
    list-style: none;
    /* 16px - 24px */
    padding: clamp(1rem, 3vw, 1.5rem);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: #f7f7f7;
    border-radius: 1rem;
    border: 1px solid #e8e8e8;
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    transition: background-color 0.3s;
  }
  #why-choose-1371 .cs-item:hover {
    background-color: var(--primary);
  }
  #why-choose-1371 .cs-item:hover .cs-h3,
  #why-choose-1371 .cs-item:hover .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  #why-choose-1371 .cs-item:hover .cs-item-text {
    opacity: 0.8;
  }
  #why-choose-1371 .cs-item:hover .cs-h3-icon {
    filter: grayscale(1) brightness(1000%);
  }
  #why-choose-1371 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    transition: color 0.3s;
  }
  #why-choose-1371 .cs-h3-icon {
    width: 1.5rem;
    height: auto;
    margin-top: 2px;
    display: block;
  }
  #why-choose-1371 .cs-item-text {
    font-size: 0.875rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    transition: color 0.3s, opacity 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1371 .cs-item {
    grid-column: span 4;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-1371 {
    padding-top: 3.125rem;
  }
  #why-choose-1371 .cs-item-picture {
    grid-column: 4/span 6;
    grid-row: 1/span 3;
  }
  #why-choose-1371 .cs-picture {
    height: 100%;
  }
  #why-choose-1371 .cs-item {
    grid-column: span 2;
  }
  #why-choose-1371 .cs-item:nth-of-type(1) {
    grid-column: 1/span 3;
    grid-row: 1/span 1;
  }
  #why-choose-1371 .cs-item:nth-of-type(2) {
    grid-column: 1/span 3;
    grid-row: 2/span 1;
  }
  #why-choose-1371 .cs-item:nth-of-type(3) {
    grid-column: 1/span 3;
    grid-row: 3/span 1;
  }
  #why-choose-1371 .cs-item:nth-of-type(5) {
    grid-column: 10/span 3;
    grid-row: 1/span 1;
  }
  #why-choose-1371 .cs-item:nth-of-type(6) {
    grid-column: 10/span 3;
    grid-row: 2/span 1;
  }
  #why-choose-1371 .cs-item:nth-of-type(7) {
    grid-column: 10/span 3;
    grid-row: 3/span 1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #why-choose-1371 .cs-title,
  body.dark-mode #why-choose-1371 .cs-text,
  body.dark-mode #why-choose-1371 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-1371 .cs-text strong {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-1371 .cs-text,
  body.dark-mode #why-choose-1371 .cs-item-text {
    opacity: 0.8;
  }
  body.dark-mode #why-choose-1371 .cs-item {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
  }
  body.dark-mode #why-choose-1371 .cs-item:hover {
    background-color: var(--primary);
  }
  body.dark-mode #why-choose-1371 .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #pricing-2063 {
    padding: var(--sectionPadding);
    padding-top: 3.75rem;
    /* clips svg graphic from overflowing the section */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #pricing-2063 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px, changes to 20px at large desktop */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #pricing-2063 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    justify-content: center;
  }
  #pricing-2063 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #pricing-2063 .cs-item {
    /* change to center to centralise all text in item */
    text-align: left;
    list-style: none;
    width: 100%;
    margin: 0;
    /* 24px - 40px top & bottom */
    /* 16px - 40px left & right */
    padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1rem, 3vw, 2.5rem);
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    grid-column: span 12;
    z-index: 1;
  }
  #pricing-2063 .cs-package {
    margin: 0 0 2rem;
    padding: 0 0 1.5rem;
    border-bottom: 1px solid #e8f8f7;
    display: flex;
    flex-direction: column;
  }
  #pricing-2063 .cs-flex {
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #pricing-2063 .cs-flex .cs-name {
    /* remove the margin that gives space between the name and cs-item-text. we'll apply this on cs-flex instead */
    margin: 0;
  }
  #pricing-2063 .cs-name {
    font-size: 1.25rem;
    font-family: "Anton";
    font-weight: 400;
    line-height: 1.2em;
    margin: 0 0 0.25rem;
    color: var(--secondary);
    display: block;
  }
  #pricing-2063 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0 0 1.5rem;
    color: var(--bodyTextColor);
  }
  #pricing-2063 .cs-price {
    /* 39px - 49px */
    font-size: clamp(2.4375rem, 5vw, 3.0625rem);
    font-family: "Anton";
    font-weight: 400;
    line-height: 1.2em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 0.25rem;
  }
  #pricing-2063 .cs-duration {
    font-size: 1rem;
    font-family: "Lato";
    font-weight: 400;
    line-height: 1.3em;
    margin: 0;
    color: var(--headerColor);
    transform: translateY(-9px);
  }
  #pricing-2063 .cs-tag {
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding: 0.5rem;
    color: #FFF;
    background-color: var(--secondary);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #pricing-2063 .cs-ul {
    width: 100%;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #pricing-2063 .cs-li {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    list-style: none;
    width: 100%;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 0.25rem;
  }
  #pricing-2063 .cs-button-solid {
    margin-top: auto;
  }
  #pricing-2063 .cs-disabled {
    filter: grayscale(1);
    opacity: 0.5;
  }
  #pricing-2063 .cs-disabled .cs-icon {
    filter: grayscale(1);
  }
  #pricing-2063 .cs-icon {
    width: 1.5rem;
    height: auto;
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: 1px;
    display: block;
  }
  #pricing-2063 .button-solid {
    width: 100%;
  }
  #pricing-2063 .cs-button-transparent {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: auto 0 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    background-color: transparent;
    overflow: hidden;
    color: var(--headerColor);
    border: 1px solid var(--headerColor);
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;
  }
  #pricing-2063 .cs-button-transparent:before {
    content: "";
    width: 0%;
    height: 100%;
    background: var(--primary);
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #pricing-2063 .cs-button-transparent:hover {
    background-color: var(--primary);
    color: #fff;
    border-color: var(--primary);
  }
  #pricing-2063 .cs-button-transparent:hover:before {
    width: 100%;
  }
  #pricing-2063 .cs-popular .cs-button-transparent {
    background-color: var(--primary);
    color: #fff;
    border-color: var(--primary);
  }
  #pricing-2063 .cs-exclusive {
    /* 24px - 40px */
    padding: clamp(1.5rem, 4vw, 2.5rem);
    background-color: var(--headerColor);
  }
  #pricing-2063 .cs-exclusive .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  #pricing-2063 .cs-exclusive .cs-duration {
    color: var(--bodyTextColorWhite);
  }
  #pricing-2063 .cs-exclusive .cs-package {
    margin-bottom: 2rem;
    padding-bottom: 0;
    border: none;
  }
  #pricing-2063 .cs-exclusive .cs-li {
    color: var(--bodyTextColorWhite);
  }
  #pricing-2063 .cs-exclusive .cs-button-transparent {
    color: var(--bodyTextColorWhite);
    border-color: var(--bodyTextColorWhite);
  }
  #pricing-2063 .cs-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #pricing-2063 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #pricing-2063 .cs-background::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(243, 252, 251, 0.84) 0%, rgba(243, 252, 251, 0.84) 100%), rgba(0, 0, 0, 0) 50%/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #pricing-2063 .cs-container {
    max-width: 80rem;
  }
  #pricing-2063 .cs-content {
    text-align: center;
    align-items: center;
  }
  #pricing-2063 .cs-card-group {
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1.25rem;
  }
  #pricing-2063 .cs-item {
    grid-column: span 4;
  }
  #pricing-2063 .cs-exclusive {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    grid-column: span 12;
  }
  #pricing-2063 .cs-exclusive .cs-package {
    /* makes the children of cs-package controllable by the parent grid. this is so we can adjust the grid layout in a non-standard way to fit the design */
    display: contents;
  }
  #pricing-2063 .cs-exclusive .cs-name {
    grid-column: 1;
    order: 1;
  }
  #pricing-2063 .cs-exclusive .cs-item-text {
    max-width: 34.375rem;
    margin: 0;
    grid-column: 1;
    order: 2;
  }
  #pricing-2063 .cs-exclusive .cs-ul {
    margin: 2rem 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1;
    order: 3;
  }
  #pricing-2063 .cs-exclusive .cs-price {
    max-width: 12.5rem;
    grid-column: 2;
    grid-row: 2;
    order: 4;
  }
  #pricing-2063 .cs-exclusive .cs-button-transparent {
    max-width: 12.5rem;
    grid-column: 2;
    order: 5;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #pricing-2063 .cs-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
/*-- -------------------------- -->
<---        Recent Posts        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  #blog-1369 {
    padding-top: 0;
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #blog-1369 .cs-container {
    width: 100%;
    /* changes to 1280px on desktop */
    max-width: 43.75rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #blog-1369 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #blog-1369 .cs-title {
    max-width: 20ch;
  }
  #blog-1369 .cs-button-solid {
    margin: 2rem 0 0;
  }
  #blog-1369 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  }
  #blog-1369 .cs-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    grid-column: span 12;
  }
  #blog-1369 .cs-item:hover .cs-h3,
  #blog-1369 .cs-item:hover .cs-date,
  #blog-1369 .cs-item:hover .cs-category {
    color: #fff;
  }
  #blog-1369 .cs-item:hover .cs-item-text {
    background-color: var(--primary);
  }
  #blog-1369 .cs-item:hover .cs-icon-wrapper {
    border-color: #fff;
  }
  #blog-1369 .cs-item:hover .cs-icon,
  #blog-1369 .cs-item:hover .cs-date-icon {
    filter: brightness(1000%) grayscale(1);
  }
  #blog-1369 .cs-item:hover .cs-icon {
    transform: rotate(45deg);
  }
  #blog-1369 .cs-item:hover .cs-category::before {
    background-color: #fff;
    opacity: 0.2;
  }
  #blog-1369 .cs-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    /* if one card has more content then the others, the card will stretch to fill the parent container */
    flex-grow: 1;
    gap: 1rem;
  }
  #blog-1369 .cs-picture {
    width: 100%;
    height: 20rem;
    margin: 0;
    border-radius: 1.5rem;
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #blog-1369 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #blog-1369 .cs-item-text {
    padding: 1.25rem;
    background-color: #f7f7f7;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* makes the item text the element that grows to fill the container */
    flex-grow: 1;
    transition: background-color 0.3s;
  }
  #blog-1369 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
    line-height: 1.2em;
    text-align: left;
    margin: 0;
    color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transition: color 0.3s;
  }
  #blog-1369 .cs-icon-wrapper {
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents the parent flexbox from shrinking the icon */
    flex-shrink: 0;
    transition: border-color 0.3s;
  }
  #blog-1369 .cs-icon {
    width: auto;
    height: 0.75rem;
    transition: filter 0.3s, transform 0.3s;
  }
  #blog-1369 .cs-info {
    margin: 1rem 0 0;
    padding: 1rem 0 0;
    border-top: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #blog-1369 .cs-date {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-align: left;
    color: #1a1a1a;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s;
  }
  #blog-1369 .cs-date-icon {
    width: auto;
    height: 1.5rem;
    transition: filter 0.3s;
  }
  #blog-1369 .cs-category {
    font-size: 0.875rem;
    /* centers the text if the category bullet has to span multiple lines */
    text-align: center;
    padding: 0.25rem 1rem;
    color: #1a1a1a;
    border-radius: 5rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }
  #blog-1369 .cs-category::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #e8e8e8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #blog-1369 .cs-bubbles {
    width: 20.0625rem;
    height: 26.4375rem;
    display: none;
    position: absolute;
    top: 8.6875rem;
    right: -8.75rem;
    z-index: -1;
  }
  #blog-1369 .cs-bubbles:before {
    /* white border bubble */
    content: "";
    width: 16.5rem;
    height: 16.5rem;
    background: transparent;
    opacity: 1;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    animation-name: floatAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  #blog-1369 .cs-bubbles:after {
    /* orange bubble */
    content: "";
    width: 16.5rem;
    height: 16.5rem;
    background: var(--primary);
    opacity: 0.1;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    animation-name: floatAnimation2;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #blog-1369 .cs-item {
    grid-column: span 6;
  }
  #blog-1369 .cs-bubbles {
    display: block;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #blog-1369 {
    padding-top: 3.125rem;
  }
  #blog-1369 .cs-container {
    max-width: 80rem;
  }
  #blog-1369 .cs-bubbles {
    top: 17.5625rem;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #blog-1369 .cs-container {
    flex-direction: row;
  }
  #blog-1369 .cs-content {
    text-align: left;
    max-width: 19.0625rem;
    align-items: start;
  }
  #blog-1369 .cs-bubbles {
    margin-right: -61.875rem;
    top: -1.25rem;
    right: 50%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #blog-1369 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #blog-1369 .cs-title,
  body.dark-mode #blog-1369 .cs-text,
  body.dark-mode #blog-1369 .cs-h3,
  body.dark-mode #blog-1369 .cs-date,
  body.dark-mode #blog-1369 .cs-category {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #blog-1369 .cs-text,
  body.dark-mode #blog-1369 .cs-date,
  body.dark-mode #blog-1369 .cs-category {
    opacity: 0.8;
  }
  body.dark-mode #blog-1369 .cs-button-solid::before {
    background-color: var(--medium);
  }
  body.dark-mode #blog-1369 .cs-item-text {
    background-color: var(--medium);
  }
  body.dark-mode #blog-1369 .cs-category::before {
    background-color: var(--accent);
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-355 {
    padding: var(--sectionPadding);
  }
  #reviews-355 .cs-container {
    width: 100%;
    max-width: 90rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-355 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-355 .cs-card-group {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.15rem);
  }
  #reviews-355 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 39.375rem;
    margin: 0;
    /* 24px - 32px top & bottom */
    /* 16px - 40px left & right */
    padding: clamp(1.5rem, 3.15vw, 2rem) clamp(1rem, 3.15vw, 2.5rem);
    background-color: #f7f7f7;
    border-radius: 1rem;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
  }
  #reviews-355 .cs-item-stars {
    width: 8.125rem;
    height: auto;
    margin-bottom: 2rem;
    display: block;
  }
  #reviews-355 .cs-review {
    /* 14px - 20px */
    font-size: clamp(0.875rem, 2vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    /* 20px - 40px */
    margin-bottom: clamp(1.25rem, 3vw, 2.5rem);
    color: var(--bodyTextColor);
  }
  #reviews-355 .cs-name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    font-family: "Anton";
    text-transform: uppercase;
    line-height: 1.2em;
    font-weight: 400;
    margin: 0;
    /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
    margin-top: auto;
    color: var(--headerColor);
    display: block;
  }
  #reviews-355 .cs-job {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-355 .cs-card-group {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
  #reviews-355 .cs-item {
    width: clamp(31.5%, 30vw, 32.3%);
  }
}
/* Tablet - 1024px */
@media only screen and (min-width: 64rem) {
  #reviews-355 {
    padding-top: 3.125rem;
  }
}

/*# sourceMappingURL=local.css.map */
