/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1130 {
    padding: var(--sectionPadding);
  }
  #services-1130 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1130 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-1130 .cs-topper {
    color: #767676;
  }
  #services-1130 .cs-card-group {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
    border: 1px solid #e8e8e8;
    border-bottom: 4px solid var(--primary);
    box-shadow: 12px 22px 12px #EEEEEE;
  }
  #services-1130 .cs-item {
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0;
    /* 24px - 32px */
    padding: clamp(1.5rem, 3vw, 2rem);
    background-color: #fff;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    grid-column: span 12;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  #services-1130 .cs-image-group {
    width: 6.25rem;
    height: auto;
    /* 20px - 24px */
    margin: 0 0 clamp(1.25rem, 2.5vw, 1.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
  }
  #services-1130 .cs-icon {
    width: 3rem;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 2;
  }
  #services-1130 .cs-graphic {
    width: 100%;
    height: auto;
  }
  #services-1130 .cs-graphic:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4); /* Adjust the opacity here */
    z-index: 1; /* Place it above the graphic */
  }
  #services-1130 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    text-align: inherit;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #services-1130 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    max-width: 28.125rem;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1130 .cs-item {
    text-align: left;
    align-items: flex-start;
    grid-column: span 6;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1130 .cs-item {
    grid-column: span 3;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-1130 .cs-item {
    background-color: var(--dark);
    border-color: rgba(255, 255, 255, 0.2);
  }
  body.dark-mode #services-1130 .cs-item:hover .cs-h3 {
    color: var(--secondary);
  }
  body.dark-mode #services-1130 .cs-topper {
    color: var(--secondary);
  }
  body.dark-mode #services-1130 .cs-title,
  body.dark-mode #services-1130 .cs-text,
  body.dark-mode #services-1130 .cs-h3,
  body.dark-mode #services-1130 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-1130 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #services-1130 .cs-icon {
    filter: grayscale(0.5) brightness(1000%);
  }
  body.dark-mode #services-1130 .cs-graphic {
    opacity: 0.7;
  }
  body.dark-mode #services-1130 .cs-card-group {
    box-shadow: 12px 22px 12px #181818;
  }
}
/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-1643 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #stats-1643:before {
    content: "";
    background: url("/assets/images/featured-service-debris.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 37.5rem; /* Specify fixed size or use % based on the image size */
    height: 37.5rem; /* Specify fixed size or use % based on the image size */
    transform: rotate(220deg);
    opacity: 0.4;
    position: absolute;
    bottom: -100px; /* Lock to the top */
    right: -300px; /* Lock to the right */
    z-index: -1; /* Ensure it is above other content */
    pointer-events: none; /* Prevent interaction */
  }
  #stats-1643:after {
    content: "";
    background: url("/assets/images/featured-service-debris-bottom.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 37.5rem; /* Specify fixed size or use % based on the image size */
    height: 37.5rem; /* Specify fixed size or use % based on the image size */
    transform: rotate(50deg);
    opacity: 0.4;
    position: absolute;
    top: -100px; /* Lock to the top */
    left: -200px; /* Lock to the right */
    z-index: -1; /* Ensure it is above other content */
    pointer-events: none; /* Prevent interaction */
  }
  #stats-1643 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #stats-1643 .cs-content {
    /* set text align to right if content needs to be right aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* left aligns content */
    align-items: center;
  }
  #stats-1643 .cs-title {
    /* 28px - 64px */
    margin: 0 0 clamp(1.75rem, 7vw, 4rem) 0;
    max-width: 30ch;
  }
  #stats-1643 .cs-picture {
    width: 100%;
    height: 95vw;
    max-height: 25rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #stats-1643 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #stats-1643 .cs-quote {
    width: 4.625rem;
    height: auto;
    position: relative;
    top: 1.5rem;
    opacity: 0.5;
    z-index: -1;
  }
  #stats-1643 .cs-text {
    margin: 0 0 clamp(1.5rem, 3vw, 2rem) 0;
  }
  #stats-1643 .cs-stats-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 60ch;
    /* 28px - 40px */
  }
  #stats-1643 .cs-card-group {
    width: 100%;
    /* 550px - 630px */
    max-width: clamp(34.375rem, 50vw, 39.375rem);
    padding: 0;
    margin: 0;
    display: grid;
    align-items: center;
    gap: 1.5rem;
  }
  #stats-1643 .cs-item {
    list-style: none;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #stats-1643 .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.625rem;
  }
  #stats-1643 .cs-item-number {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #stats-1643 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #stats-1643 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #stats-1643 .cs-stats {
    width: 100%;
    max-width: 39.375rem;
    padding: 0;
    /* 40px - 64px */
    margin: clamp(0.5rem, 4vw, 2rem) 0 0 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  #stats-1643 .cs-stat {
    text-align: center;
    list-style: none;
    font-family: "Anton";
    color: var(--secondary);
    margin: 0;
    /* 28px - 40px */
    padding: 0 0.5rem clamp(1.75rem, 3vw, 2.5rem);
    /* making flex so we can align a heading with 1 line to the bottom */
    display: flex;
    grid-column: span 4;
    flex-direction: column;
    align-self: stretch;
    align-items: left;
  }
  #stats-1643 .cs-number {
    /* 31px - 39px */
    font-size: clamp(2.9375rem, 3vw, 2.4375rem);
    line-height: 1.2em;
    font-weight: 400;
    text-align: left;
    color: var(--headerColor);
    display: block;
    margin: 0 0 0.25rem 0;
  }
  #stats-1643 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    text-align: left;
    /* auto margin top will push text to bottom if there's only one line */
    margin: 0;
    color: var(--bodyTextColor);
  }
  #stats-1643 .cs-button-solid {
    max-width: 11rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #stats-1643 .cs-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #stats-1643 .cs-content {
    justify-content: stretch;
  }
  #stats-1643 .cs-text:first-of-type {
    margin-top: 5.375rem;
  }
  #stats-1643 .cs-picture {
    height: 80%;
    max-height: 100%;
  }
  #stats-1643 .cs-picture img {
    width: 100%;
    height: 70%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #stats-1643 .cs-picture {
    width: 50%;
    height: 100%;
    max-height: 37.5rem;
    margin-top: 1.5rem;
    display: block;
    position: absolute;
    left: 2%;
    z-index: -1;
  }
  #stats-1643 .cs-picture img {
    width: auto;
    height: 120%;
    transform: translateX(-20%);
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* large Desktop */
@media only screen and (min-width: 84rem) {
  #stats-1643 .cs-picture {
    width: 40%;
    height: 100%;
    max-height: 50rem;
    display: block;
    position: absolute;
    left: 10%;
    z-index: -1;
  }
  #stats-1643 .cs-picture img {
    width: auto;
    height: 100%;
    transform: translateX(-20%);
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #stats-1643 .cs-title,
  body.dark-mode #stats-1643 .cs-text,
  body.dark-mode #stats-1643 .cs-item-text,
  body.dark-mode #stats-1643 .cs-h3,
  body.dark-mode #stats-1643 .cs-number,
  body.dark-mode #stats-1643 .cs-desc {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #stats-1643 .cs-text,
  body.dark-mode #stats-1643 .cs-item-text,
  body.dark-mode #stats-1643 .cs-desc {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1444 {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #sbsr-1444 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #sbsr-1444 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-1444 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-1444 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-1444 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
  }
  #sbsr-1444 .cs-li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #sbsr-1444 .cs-li-picture {
    width: 5rem;
    height: 5rem;
    margin: 0;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
    z-index: 1;
  }
  #sbsr-1444 .cs-li-picture:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbsr-1444 .cs-li-icon {
    width: 2.625rem;
    height: auto;
    display: block;
  }
  #sbsr-1444 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #sbsr-1444 .cs-li-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbsr-1444 .cs-picture {
    width: 100%;
    max-width: 40.625rem;
    min-height: 22.625rem;
    border-radius: 1.5rem;
    /* clips img tag corners */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbsr-1444 .cs-picture img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1444 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
  }
  #sbsr-1444 .cs-content {
    width: 50%;
    padding: 2.5rem 0;
  }
  #sbsr-1444 .cs-picture {
    height: auto;
    width: 55%;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbsr-1444 .cs-title,
  body.dark-mode #sbsr-1444 .cs-text,
  body.dark-mode #sbsr-1444 .cs-li,
  body.dark-mode #sbsr-1444 .cs-h3,
  body.dark-mode #sbsr-1444 .cs-li-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbsr-1444 .cs-li-text, body.dark-mode #sbsr-1444 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #sbsr-1444 .cs-li-picture {
    background-color: var(--dark);
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-1752 {
    padding: 0;
    position: relative;
  }
  #gallery-1752 .cs-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-1752 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  #gallery-1752 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    /* 300px - 400px, changes at desktop to a vw unit */
    height: clamp(18.75rem, 27vw, 25rem);
    margin: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0;
    background-color: #000;
    grid-column: span 12;
    position: relative;
    z-index: 1;
  }
  #gallery-1752 .cs-item:hover .cs-picture img {
    transform: scale(1.2);
  }
  #gallery-1752 .cs-item:hover .cs-link:before {
    opacity: 0.72;
  }
  #gallery-1752 .cs-item:hover .cs-h2, #gallery-1752 .cs-item:hover .cs-h3 {
    opacity: 1;
    /* Return to original position */
    transform: translateY(0);
    text-align: left;
  }
  #gallery-1752 .cs-item:hover .cs-hover-text {
    opacity: 1;
    /* Return to original position */
    transform: translateY(0);
  }
  #gallery-1752 .cs-link {
    text-align: center;
    text-decoration: none;
    align-items: center; /* Center child elements horizontally within the container */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: clamp(1.25rem, 2.3vw, 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  #gallery-1752 .cs-link:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
  }
  #gallery-1752 .cs-icon-wrapper {
    margin-bottom: 2rem;
    opacity: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: none;
    position: relative;
    transform: translateY(1.75rem) rotate(90deg);
    transition: transform 0.5s, opacity 0.3s;
  }
  #gallery-1752 .cs-icon {
    width: clamp(2rem, 5vw, 3.75rem);
    height: auto;
  }
  #gallery-1752 .cs-h2 {
    font-family: "Anton";
    font-size: clamp(2rem, 3vw, 2.125rem);
  }
  #gallery-1752 .cs-h2, #gallery-1752 .cs-h3 {
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 0.25rem;
    color: var(--bodyTextColorWhite);
    opacity: 0;
    transform: translateY(1.75rem);
    transition: opacity 0.3s, transform 0.4s ease-out;
    transition-delay: 0.05s;
    text-align: center; /* Ensure the text itself is left-aligned */
  }
  #gallery-1752 .cs-hover-text {
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    font-weight: 400;
    line-height: 1.2em;
    max-width: 20.625rem;
    margin-top: 1.75rem;
    text-align: center; /* Ensure the text itself is left-aligned */
    color: #fff;
    opacity: 0;
    transform: translateY(1.75rem);
    transition: opacity 0.3s, transform 0.4s ease-out;
    transition-delay: 0.1s;
  }
  #gallery-1752 .cs-picture {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
  }
  #gallery-1752 .cs-picture:after {
    /* background color overlay on hover */
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s;
  }
  #gallery-1752 .cs-picture img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.8s ease-out;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-1752 .cs-item {
    grid-column: span 4;
  }
  #gallery-1752 .cs-item:nth-of-type(4), #gallery-1752 .cs-item:nth-of-type(5) {
    grid-column: span 4;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #gallery-1752 .cs-card-group {
    grid-template-columns: repeat(12, 1fr);
  }
  #gallery-1752 .cs-item {
    height: 29vw;
    grid-column: span 4;
  }
  #gallery-1752 .cs-item:nth-of-type(4), #gallery-1752 .cs-item:nth-of-type(5) {
    grid-column: span 4;
  }
}
/*-- -------------------------- -->
<---        Get To Know         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1426 {
    /* Centers button */
    padding: var(--sectionPadding);
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-1426 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #hero-1426 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
  }
  #hero-1426 .cs-background:before {
    content: "";
    background: url("/assets/images/concrete_debris_019_0000 copy.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 37.5rem; /* Specify fixed size or use % based on the image size */
    height: 37.5rem; /* Specify fixed size or use % based on the image size */
    transform: rotate(145deg);
    opacity: 0.4;
    position: absolute;
    top: -100px; /* Lock to the top */
    right: -100px; /* Lock to the right */
    z-index: 1; /* Ensure it is above other content */
    pointer-events: none; /* Prevent interaction */
  }
  #hero-1426 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  #hero-1426 .cs-content {
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #hero-1426 .cs-picture {
    width: 100%;
    margin: 4rem auto;
    max-width: 21.875rem;
    min-height: 22.625rem;
    border-radius: 30% 70% 38% 62%/48% 30% 70% 52%;
    /* clips img tag corners */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #hero-1426 .cs-picture img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  #hero-1426 .cs-h2 {
    font-family: "Anton";
    font-weight: 800;
    color: var(--secondary-alt);
  }
  #hero-1426 .cs-h3 {
    font-size: var(--bodyFontSize);
    margin-bottom: 1.5rem;
  }
  #hero-1426 .cs-button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    gap: 3rem;
    height: auto; /* Adjust based on your layout needs */
  }
  #hero-1426 .cs-button-group .social-link img {
    transition: transform 0.4s ease;
    width: 3rem;
    height: auto;
    animation: bounce 1s infinite; /* 1s duration, infinite repeats */
  }
  #hero-1426 .cs-button-group .social-link img:hover {
    transform: scale(1.25);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1426 .cs-background:before {
    top: -500px;
    right: 10px;
    width: 70%;
    height: 100%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 84rem) {
  #hero-1426 .cs-background:before {
    top: -200px;
    right: -200PX;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero-1426 .dark-hide {
    display: none;
  }
  body.dark-mode #hero-1426 .cs-h2 {
    color: #FFFFFF;
  }
  body.dark-mode #hero-1426 .cs-background:before {
    opacity: 0.72;
    display: block;
  }
}
/*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1571 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #why-choose-1571 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #why-choose-1571 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #why-choose-1571 .cs-title {
    max-width: 27ch;
    margin: 0;
  }
  #why-choose-1571 .cs-topper {
    color: var(--secondary);
  }
  #why-choose-1571 .cs-card-wrapper {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    /* 16px - 20px */
    column-gap: clamp(1rem, 2vw, 1.25rem);
    row-gap: 2.5rem;
  }
  #why-choose-1571 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* 24px - 60px */
    gap: clamp(1.5rem, 5vw, 3.75rem);
  }
  #why-choose-1571 .cs-item {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }
  #why-choose-1571 .cs-icon-wrapper {
    /* 60px - 80px */
    width: clamp(3.75rem, 5vw, 5rem);
    height: clamp(3.75rem, 5vw, 5rem);
    border: 1px solid var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1/1;
  }
  #why-choose-1571 .cs-icon-wrapper::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
  }
  #why-choose-1571 .cs-icon {
    /* 24px - 36px */
    width: clamp(1.5rem, 3vw, 2.25rem);
    height: auto;
  }
  #why-choose-1571 .cs-h3 {
    font-size: 1.25rem;
    font-family: "Anton";
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0 0.5rem;
    color: var(--headerColor);
  }
  #why-choose-1571 .cs-item-text {
    font-size: 0.875rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #why-choose-1571 .cs-image {
    /* all these change on tablet */
    width: 70vw;
    max-width: 18.75rem;
    height: 70vw;
    max-height: 18.75rem;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
  }
  #why-choose-1571 .cs-image img {
    width: 100%;
    height: 100%;
    max-height: 18.75rem;
    object-fit: contain;
    z-index: 1;
  }
  #why-choose-1571 .cs-image::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.1;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #why-choose-1571 .cs-image::after {
    content: "";
    width: 75%;
    height: 75%;
    background-color: var(--primary);
    opacity: 0.3;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #why-choose-1571 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #why-choose-1571 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1571 .cs-container {
    max-width: 80rem;
  }
  #why-choose-1571 .cs-card-wrapper {
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
  }
  #why-choose-1571 .cs-item {
    text-align: left;
    align-items: start;
  }
  #why-choose-1571 .cs-image {
    width: 30vw;
    max-width: 26.75rem;
    height: 30vw;
    max-height: 26.875rem;
  }
  #why-choose-1571 .cs-image img {
    max-height: 26.875rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-1571 .cs-item {
    flex-direction: row;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #why-choose-1571 {
    background-color: var(--dark);
  }
  body.dark-mode #why-choose-1571 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #why-choose-1571 .cs-title,
  body.dark-mode #why-choose-1571 .cs-text,
  body.dark-mode #why-choose-1571 .cs-h3,
  body.dark-mode #why-choose-1571 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-1571 .cs-item-text {
    opacity: 0.8;
  }
  body.dark-mode #why-choose-1571 .cs-background {
    opacity: 0.3;
    filter: brightness(30%);
  }
}
/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #pricing-357 {
    padding: var(--sectionPadding);
    background-color: #FFFFFF;
  }
  #pricing-357 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #pricing-357 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #pricing-357 .cs-item {
    position: relative;
    list-style: none;
    /* 20px - 32px top & bottom */
    /* 16px - 32px left & right */
    padding: clamp(1.25rem, 3vw, 2rem) clamp(1rem, 2.4vw, 2rem);
    padding-bottom: clamp(5.25rem, 7vw, 6rem);
    width: 100%;
    max-width: 25.8125rem;
    border: 2px solid var(--primary);
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.25);
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
  }
  #pricing-357 .cs-item:nth-of-type(2) .cs-option2-text,
  #pricing-357 .cs-item:nth-of-type(2) .cs-option1-text {
    transition-delay: 0.1s;
  }
  #pricing-357 .cs-item:nth-of-type(3) .cs-option2-text,
  #pricing-357 .cs-item:nth-of-type(3) .cs-option1-text {
    transition-delay: 0.2s;
  }
  #pricing-357 .cs-popular {
    background: linear-gradient(var(--primary), #119ce2);
    border: none;
    position: relative;
    /* clips the popular tag */
    overflow: hidden;
    /* send to the top */
    z-index: 2;
    order: -1;
  }
  #pricing-357 .cs-popular:before {
    /* Most Popular Tag */
    content: "POPULAR";
    font-size: 0.875rem;
    font-family: "Anton";
    text-align: center;
    line-height: 1.8125em;
    font-weight: 400;
    width: 10.625rem;
    padding: 0 0.75rem;
    color: var(--bodyTextColorWhite);
    background-color: var(--secondary);
    position: absolute;
    display: block;
    top: 1.25rem;
    right: -3.75rem;
    transform: rotate(42deg);
  }
  #pricing-357 .cs-popular .cs-price {
    color: #FFFFFF;
  }
  #pricing-357 .cs-popular .cs-h3,
  #pricing-357 .cs-popular .cs-item-text,
  #pricing-357 .cs-popular .cs-included,
  #pricing-357 .cs-popular .cs-li,
  #pricing-357 .cs-popular .cs-small {
    color: var(--bodyTextColorWhite);
  }
  #pricing-357 .cs-popular .cs-button-solid {
    background-color: none;
    border-color: var(--secondary);
    color: #FFFFFF;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }
  #pricing-357 .cs-popular .cs-button-solid:hover {
    background-color: var(--secondary);
  }
  #pricing-357 .cs-popular .cs-li-img {
    /* turns the check mark white */
    filter: brightness(900%);
  }
  #pricing-357 .cs-h3 {
    font-family: "Anton";
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 400;
    margin: 0 0 0.25rem;
    padding: 0;
    color: var(--headerColor);
  }
  #pricing-357 .cs-item-text {
    font-size: 0.875rem;
    line-height: 1.5em;
    /* 16px - 24px */
    margin: 0 0 clamp(1rem, 2vw, 1.5rem);
    padding: 0;
    color: var(--bodyTextColor);
  }
  #pricing-357 .cs-option-group {
    position: relative;
  }
  #pricing-357 .cs-option-group:after {
    /* top right box */
    content: "";
    width: 100%;
    height: 1px;
    /* 32px - 40px */
    margin-bottom: clamp(2rem, 4vw, 2.5rem);
    background: linear-gradient(90deg, rgba(232, 232, 232, 0.2) 0%, #e8e8e8 53.78%, rgba(232, 232, 232, 0.2) 100%);
    opacity: 1;
    position: relative;
    display: block;
  }
  #pricing-357 .cs-price {
    font-size: 3.0625rem;
    font-family: "Anton";
    line-height: 1.2em;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: var(--headerColor);
    /* spans are inline, need to add block for margin to work */
    display: block;
  }
  #pricing-357 .cs-small {
    font-size: 0.875rem;
    font-family: "Work Sans";
    font-weight: 400;
    color: #4e4b66;
  }
  #pricing-357 .cs-included {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    /* 16px - 24px */
    margin-bottom: clamp(1rem, 3vw, 1.5rem);
    color: var(--headerColor);
    display: block;
  }
  #pricing-357 .cs-ul {
    padding: 0;
    margin: 0;
    /* 32px - 40px */
    margin-bottom: clamp(2rem, 4vw, 2.5rem);
  }
  #pricing-357 .cs-li {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    list-style: none;
    padding: 0;
    margin: 0 0 0.75rem;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #pricing-357 .cs-li:last-of-type {
    margin-bottom: 0;
  }
  #pricing-357 .cs-disabled {
    /* fades out list items that are disabled from the price tier */
    filter: grayscale(1);
    opacity: 0.3;
  }
  #pricing-357 .cs-li-img {
    width: 1.25rem;
    height: auto;
    margin-top: 0.1875rem;
    margin-right: 0.5rem;
  }
  #pricing-357 .cs-li-img2 {
    width: 1.125rem;
    height: auto;
    padding-left: 2px;
    margin-top: 0.1875rem;
    margin-right: 0.75rem;
  }
  #pricing-357 .cs-button-solid {
    position: absolute;
    bottom: 3rem;
    background-color: none;
    color: var(--secondary-alt);
    transition: background-color 0.3s;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
  #pricing-357 .cs-button-solid:hover {
    background-color: var(--primary);
  }
}
/* Tablet 768px */
@media only screen and (min-width: 48rem) {
  #pricing-357 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  #pricing-357 .cs-item {
    width: 100%;
    /* ensures they stay the same height if you add more content */
    align-self: stretch;
  }
  #pricing-357 .cs-popular {
    /* send back to its original order */
    order: unset;
  }
  #pricing-357 #cs-option2-357:before {
    top: -0.625rem;
  }
  #pricing-357 #cs-option2-357:after {
    top: -2.1875rem;
    right: -6.25rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #pricing-357 .cs-popular {
    transform: scale(1.15);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #pricing-357 {
    background-color: var(--dark);
  }
  body.dark-mode #pricing-357 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #pricing-357 .cs-title,
  body.dark-mode #pricing-357 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #pricing-357 .cs-plan {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #pricing-357 .cs-item {
    background: var(--accent);
    border-color: var(--medium);
  }
  body.dark-mode #pricing-357 .cs-popular {
    background: var(--primary);
  }
  body.dark-mode #pricing-357 .cs-h3,
  body.dark-mode #pricing-357 .cs-item-text,
  body.dark-mode #pricing-357 .cs-price,
  body.dark-mode #pricing-357 .cs-included,
  body.dark-mode #pricing-357 .cs-li,
  body.dark-mode #pricing-357 .cs-small {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #pricing-357 .cs-li-img {
    /* make so bright it turns white */
    filter: brightness(900%) grayscale(1);
  }
}

/*# sourceMappingURL=local.css.map */
