/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1130 {
    padding: var(--sectionPadding);
  }
  #services-1130 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1130 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-1130 .cs-topper {
    color: #767676;
  }
  #services-1130 .cs-card-group {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
  }
  #services-1130 .cs-item {
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0;
    /* 24px - 32px */
    padding: clamp(1.5rem, 3vw, 2rem);
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    grid-column: span 12;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: box-shadow 0.3s, border-color 0.3s;
  }
  #services-1130 .cs-item:hover {
    box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.12);
    border-color: transparent;
  }
  #services-1130 .cs-item:hover .cs-h3 {
    color: var(--primary);
  }
  #services-1130 .cs-image-group {
    width: 6.25rem;
    height: auto;
    /* 20px - 24px */
    margin: 0 0 clamp(1.25rem, 2.5vw, 1.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
  }
  #services-1130 .cs-icon {
    width: 3rem;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 2;
  }
  #services-1130 .cs-graphic {
    width: 100%;
    height: auto;
  }
  #services-1130 .cs-graphic:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4); /* Adjust the opacity here */
    z-index: 1; /* Place it above the graphic */
  }
  #services-1130 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    text-align: inherit;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #services-1130 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    max-width: 28.125rem;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1130 .cs-item {
    text-align: left;
    align-items: flex-start;
    grid-column: span 6;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1130 .cs-item {
    grid-column: span 3;
  }
}
/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-1643 {
    padding: var(--sectionPadding);
  }
  #stats-1643 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #stats-1643 .cs-content {
    /* set text align to right if content needs to be right aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* left aligns content */
    align-items: center;
  }
  #stats-1643 .cs-title {
    /* 28px - 64px */
    margin: 0 0 clamp(1.75rem, 7vw, 4rem) 0;
    max-width: 30ch;
  }
  #stats-1643 .cs-picture {
    width: 100%;
    height: 95vw;
    max-height: 25rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #stats-1643 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #stats-1643 .cs-quote {
    width: 4.625rem;
    height: auto;
    position: relative;
    top: 1.5rem;
    opacity: 0.5;
    z-index: -1;
  }
  #stats-1643 .cs-text {
    margin: 0 0 clamp(1.5rem, 3vw, 2rem) 0;
  }
  #stats-1643 .cs-stats-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 60ch;
    /* 28px - 40px */
  }
  #stats-1643 .cs-card-group {
    width: 100%;
    /* 550px - 630px */
    max-width: clamp(34.375rem, 50vw, 39.375rem);
    padding: 0;
    margin: 0;
    display: grid;
    align-items: center;
    gap: 1.5rem;
  }
  #stats-1643 .cs-item {
    list-style: none;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #stats-1643 .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.625rem;
  }
  #stats-1643 .cs-item-number {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #stats-1643 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #stats-1643 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #stats-1643 .cs-stats {
    width: 100%;
    max-width: 39.375rem;
    padding: 0;
    /* 40px - 64px */
    margin: clamp(0.5rem, 4vw, 2rem) 0 0 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  #stats-1643 .cs-stat {
    text-align: center;
    list-style: none;
    font-family: "Anton";
    color: var(--primary);
    margin: 0;
    /* 28px - 40px */
    padding: 0 0.5rem clamp(1.75rem, 3vw, 2.5rem);
    /* making flex so we can align a heading with 1 line to the bottom */
    display: flex;
    grid-column: span 4;
    flex-direction: column;
    align-self: stretch;
    align-items: left;
  }
  #stats-1643 .cs-number {
    /* 31px - 39px */
    font-size: clamp(2.9375rem, 3vw, 2.4375rem);
    line-height: 1.2em;
    font-weight: 400;
    text-align: left;
    color: var(--headerColor);
    display: block;
    margin: 0 0 0.25rem 0;
  }
  #stats-1643 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    text-align: left;
    /* auto margin top will push text to bottom if there's only one line */
    margin: 0;
    color: var(--bodyTextColor);
  }
  #stats-1643 .cs-button-solid {
    max-width: 11rem;
    color: var(--secondary-alt);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #stats-1643 .cs-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #stats-1643 .cs-content {
    justify-content: stretch;
  }
  #stats-1643 .cs-text:first-of-type {
    margin-top: 5.375rem;
  }
  #stats-1643 .cs-picture {
    height: 80%;
    max-height: 100%;
  }
  #stats-1643 .cs-picture img {
    width: 100%;
    height: 70%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #stats-1643 .cs-picture {
    width: 50%;
    height: 100%;
    max-height: 37.5rem;
    margin-top: 1.5rem;
    display: block;
    position: absolute;
    left: 2%;
    z-index: -1;
  }
  #stats-1643 .cs-picture img {
    width: auto;
    height: 120%;
    transform: translateX(-20%);
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* large Desktop */
@media only screen and (min-width: 84rem) {
  #stats-1643 .cs-picture {
    width: 40%;
    height: 100%;
    max-height: 50rem;
    display: block;
    position: absolute;
    left: 10%;
    z-index: -1;
  }
  #stats-1643 .cs-picture img {
    width: auto;
    height: 100%;
    transform: translateX(-20%);
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1444 {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #sbsr-1444 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #sbsr-1444 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-1444 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-1444 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-1444 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
  }
  #sbsr-1444 .cs-li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #sbsr-1444 .cs-li-picture {
    width: 5rem;
    height: 5rem;
    margin: 0;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
    z-index: 1;
  }
  #sbsr-1444 .cs-li-picture:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbsr-1444 .cs-li-icon {
    width: 2.625rem;
    height: auto;
    display: block;
  }
  #sbsr-1444 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #sbsr-1444 .cs-li-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbsr-1444 .cs-button-solid {
    color: var(--secondary-alt);
  }
  #sbsr-1444 .cs-picture {
    width: 100%;
    max-width: 40.625rem;
    min-height: 22.625rem;
    border-radius: 1.5rem;
    /* clips img tag corners */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbsr-1444 .cs-picture img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1444 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
  }
  #sbsr-1444 .cs-content {
    width: 50%;
    padding: 2.5rem 0;
  }
  #sbsr-1444 .cs-picture {
    height: auto;
    width: 55%;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-1752 {
    padding: 0;
    position: relative;
  }
  #gallery-1752 .cs-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-1752 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  #gallery-1752 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    /* 300px - 400px, changes at desktop to a vw unit */
    height: clamp(18.75rem, 27vw, 25rem);
    margin: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0;
    background-color: #000;
    grid-column: span 12;
    position: relative;
    z-index: 1;
  }
  #gallery-1752 .cs-item:hover .cs-picture img {
    transform: scale(1.2);
  }
  #gallery-1752 .cs-item:hover .cs-link:before {
    opacity: 0.72;
  }
  #gallery-1752 .cs-item:hover .cs-h2, #gallery-1752 .cs-item:hover .cs-h3 {
    opacity: 1;
    /* Return to original position */
    transform: translateY(0);
    text-align: left;
  }
  #gallery-1752 .cs-item:hover .cs-hover-text {
    opacity: 1;
    /* Return to original position */
    transform: translateY(0);
  }
  #gallery-1752 .cs-link {
    text-align: center;
    text-decoration: none;
    align-items: center; /* Center child elements horizontally within the container */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: clamp(1.25rem, 2.3vw, 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  #gallery-1752 .cs-link:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
  }
  #gallery-1752 .cs-icon-wrapper {
    margin-bottom: 2rem;
    opacity: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: none;
    position: relative;
    transform: translateY(1.75rem) rotate(90deg);
    transition: transform 0.5s, opacity 0.3s;
  }
  #gallery-1752 .cs-icon {
    width: clamp(2rem, 5vw, 3.75rem);
    height: auto;
  }
  #gallery-1752 .cs-h2 {
    font-family: "Anton";
    font-size: clamp(2rem, 3vw, 2.125rem);
  }
  #gallery-1752 .cs-h2, #gallery-1752 .cs-h3 {
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 0.25rem;
    color: var(--bodyTextColorWhite);
    opacity: 0;
    transform: translateY(1.75rem);
    transition: opacity 0.3s, transform 0.4s ease-out;
    transition-delay: 0.05s;
    text-align: center; /* Ensure the text itself is left-aligned */
  }
  #gallery-1752 .cs-hover-text {
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    font-weight: 400;
    line-height: 1.2em;
    max-width: 20.625rem;
    margin-top: 1.75rem;
    text-align: center; /* Ensure the text itself is left-aligned */
    color: #fff;
    opacity: 0;
    transform: translateY(1.75rem);
    transition: opacity 0.3s, transform 0.4s ease-out;
    transition-delay: 0.1s;
  }
  #gallery-1752 .cs-picture {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
  }
  #gallery-1752 .cs-picture:after {
    /* background color overlay on hover */
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s;
  }
  #gallery-1752 .cs-picture img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.8s ease-out;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-1752 .cs-item {
    grid-column: span 4;
  }
  #gallery-1752 .cs-item:nth-of-type(4), #gallery-1752 .cs-item:nth-of-type(5) {
    grid-column: span 4;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #gallery-1752 .cs-card-group {
    grid-template-columns: repeat(12, 1fr);
  }
  #gallery-1752 .cs-item {
    height: 29vw;
    grid-column: span 4;
  }
  #gallery-1752 .cs-item:nth-of-type(4), #gallery-1752 .cs-item:nth-of-type(5) {
    grid-column: span 4;
  }
}

/*# sourceMappingURL=local.css.map */
