---
title: 'Websites For Small Businesses | Southern Tier Web Designs | Binghamton, NY'
description: "Southern Tier Web Designs in Binghamton, NY, offers custom web design, SEO, and website management services. We provide personalized attention, custom-coded solutions, and superior website performance."
preloadImg: ''
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" media="print" onload="this.media='all'; this.onload=null;">
    <noscript>
        <link rel="stylesheet" href="/assets/css/local.css" />
    </noscript>
    <link rel="stylesheet" href="/assets/css/critical.css"/>
    
    <!-- Preloads -->
    <link rel="preload" as="image" href="/assets/images/flying-desktop-mockup-m.webp">
    <link rel="preload" as="image" href="/assets/images/hero-bg-m.webp">


    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Hero                       -->
    <!-- ============================================ -->

    <section id="hero-408">
        <div class="cs-container">
            <div class="cs-content">
                <h1 class="cs-title">Groundbreaking <span class="alt-dark-title">Web Designs</span> For Small Businesses</h2>
                <p class="cs-text">
                    Whether you're a small business looking to establish an online presence or a growing company seeking to enhance your digital footprint, we have the expertise to bring your vision to life.
                </p>
                <a href="/contact" class="cs-button-solid">CONTACT US</a>
            </div>
            <div class="cs-stat-group">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/flying-desktop-mockup-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/flying-desktop-mockup.png">
                    <img decoding="async" src="/assets/images/flying-desktop-mockup.png" alt="Desktop mockup" width="2516" height="1680" aria-hidden="true">
                </picture>
            </div>
        </div>
        <div class="custom-shape-divider-bottom-1722282966">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
            </svg>
        </div>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="/assets/images/hero-bg-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/hero-bg.jpg">
            <img decoding="async" src="/assets/images/hero-bg.jpg" alt="background" width="1920" height="1280" aria-hidden="true">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-1130">
        <div class="cs-container">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-image-group">
                        <img class="cs-graphic" loading="lazy" decoding="async" src="/assets/svgs/computer.svg" alt="computer icon" width="100" height="103">
                    </div>
                    <h1 class="cs-h3">Web Design</h1>
                    <p class="cs-item-text">
                        Our web design service is centered around creating visually appealing, high performing, and functionally seamless websites that reflect your brand.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="cs-image-group">
                        <img class="cs-graphic" loading="lazy" decoding="async" src="/assets/svgs/search.svg" alt="seo icon" width="100" height="103">
                    </div>
                    <h1 class="cs-h3">SEO</h1>
                    <p class="cs-item-text">
                        Our SEO services boost your website's visibility and improve search engine rankings through keyword optimization, content creation, and website optimization.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="cs-image-group">
                        <img class="cs-graphic" loading="lazy" decoding="async" src="/assets/svgs/logo.svg" alt="logo icon" width="100" height="103">                    
                    </div>
                    <h1 class="cs-h3">Logos & Branding</h1>
                    <p class="cs-item-text">
                        We craft professional logos that capture your brand's essence, ensuring unique and memorable designs that establish strong brand recognition and trust.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="cs-image-group">
                        <img class="cs-graphic" loading="lazy" decoding="async" src="/assets/svgs/web-maintenance.svg" alt="web maintenance icon" width="100" height="103">
                    </div>
                    <h1 class="cs-h3">Web Management</h1>
                    <p class="cs-item-text">
                        Our website management services include updates, security, backups, and performance optimization. We ensure your website operates smoothly and efficiently.
                    </p>
                </li>
            </ul>
        </div>
    </section>
                                
    <!-- ============================================ -->
    <!--                    Stats                     -->
    <!-- ============================================ -->

    <section id="stats-1643">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title"><span class="alt-title">Custom Websites</span> Expertly Crafted To Get You More Exposure</h2>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/Desktop-screen-mockup-m.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/Desktop-screen-mockup.png">
                    <img loading="lazy" decoding="async" src="/assets/images/Desktop-screen-mockup.png" alt="desktop screen mockup" width="1662" height="1600">
                </picture>
            </div>
            <div class="cs-stats-group">
                <p class="cs-text">
                    We pride ourselves on delivering exceptional web design services tailored to meet the unique needs 
                    of small businesses in Binghamton, NY, and across the US. With a commitment to delivering visually 
                    stunning and highly functional websites, the focus is on driving engagement and conversion. Utilizing
                    the cleanest code ensures optimal website performance, guaranteeing a PageSpeed score of 98+ to keep 
                    your customers engaged and improve your Google rankings. The goal is to help your business stand out in 
                    the digital landscape through an innovative and results-driven approach.
                </p>
                <p class="cs-text">
                    By closely understanding client goals, a tailored strategy is created to meet specific needs. Emphasis 
                    is placed on user experience and responsive design to ensure your website looks great and performs flawlessly 
                    on all devices. Trust Southern Tier Web Designs to provide a seamless and effective online presence that drives 
                    growth and success for your business.
                </p>
                <ul class="cs-stats">
                    <li class="cs-stat stat1">
                        <span class="cs-number">98+</span>
                        <span class="cs-desc">PageSpeed Guarantee</span>
                    </li>
                    <li class="cs-stat stat2">
                        <span class="cs-number">
                            <img class="infinity" loading="lazy" decoding="async" src="/assets/svgs/infinity.svg" alt="infinity" height="48" width="48">
                        </span>
                        <span class="cs-desc">Custom Designs</span>
                    </li>
                    <li class="cs-stat stat3">
                        <span class="cs-number">100%</span>
                        <span class="cs-desc">Mobile Responsive</span>
                    </li>
                </ul>
                <a href="/about" class="cs-button-solid">MORE ABOUT US</a>
            </div>
        </div>
    </section>
                                    
    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="sbsr-1444">
        <div class="cs-container">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/bway-cafe-mockup-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/bway-cafe-mockup.png">
                <img loading="lazy" decoding="async" src="/assets/images/bway-cafe-mockup.png" alt="Broadway cafe website" width="1300" height="1516" aria-hidden="true">
            </picture>
            <div class="cs-content">
                <h2 class="cs-title">Rock-Solid 5-Page Sites For Only <span class="alt-title">$150/Month</span></h2>
                <p class="cs-text">
                    Our 5-page website package is a seismic shift in value, offering performance optimization, 24/7 support, unlimited edits, and Google Analytics for just $150/month with a 12-month commitment. Any additional pages beyond the initial 5 are charged a one-time fee of $100 per page, with a continued monthly fee of $150.
                </p>
                <ul class="cs-card-group">
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="/assets/svgs/support.svg" decoding="async" alt="support icon" width="42" height="42" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Unlimited Edits & 24/7 Support</h3>
                            <p class="cs-li-text">
                                A direct line to all things website related for your business. Call any time and we'll get started on any changes immediately.
                            </p>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="/assets/svgs/creativity.svg" decoding="async" alt="creativity icon" width="42" height="42" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Custom Web Design & Optimization</h3>
                            <p class="cs-li-text">
                                Let us create a unique, eye-catching, and high performing website for your business. 
                            </p>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="/assets/svgs/calendar.svg" decoding="async" alt="calendar icon" width="42" height="42" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">12 Month Minimum Contracts</h3>
                            <p class="cs-li-text">
                                After the first 12 months, we continue on a month-to-month basis, allowing you to cancel anytime.
                            </p>
                        </div>
                    </li>
                </ul>     
                <a href="/contact" class="cs-button-solid">CONTACT US</a>        
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Portfolio                    -->
    <!-- ============================================ -->

    <section id="gallery-1752">
        <div class="cs-container">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="https://steindesignandbuild.com/" class="cs-link" target="_blank">
                        <h2 class="cs-h2">Stein Design And Build</h2>
                        <h3 class="cs-h3">Syracuse, NY</h3>
                        <p class="cs-hover-text">Stein Design and Build, a Syracuse-based contracting company, specializes in residential and commercial projects, offering quality craftsmanship and innovative design solutions.</p>
                    </a>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/stein-mockup2-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/stein-mockup2.jpg">
                        <img decoding="async" src="/assets/images/stein-mockup2.jpg" alt="stein design and build website" width="1280" height="1118" aria-hidden="true" loading="lazy">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="https://subgbjj.com/" class="cs-link" target="_blank">
                        <h2 class="cs-h2">SUB-G Brazilian Jiu-Jitsu</h2>
                        <h3 class="cs-h3">Port Jervis, NY</h3>
                        <p class="cs-hover-text">SUB-G Brazilian Jiu-Jitsu in Port Jervis, NY, provides top-tier martial arts training, focusing on discipline, fitness, and self-defense for all ages and skill levels.</p>
                    </a>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/subg-mockup-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/subg-mockup.jpg">
                        <img decoding="async" src="/assets/images/subg-mockup.jpg" alt="sub-g gym website" width="1280" height="1118" aria-hidden="true" loading="lazy">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="/" class="cs-link">
                        <h2 class="cs-h2">Your Business</h2>
                        <h3 class="cs-h3">Los Angeles, CA</h3>
                        <p class="cs-hover-text">Your business could be featured next! Showcase your unique services and attract more clients with a custom-designed website by Southern Tier Web Designs. Contact us today!</p>
                    </a>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/coming-soon-mockup-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/coming-soon-mockup.jpg">
                        <img decoding="async" src="/assets/images/coming-soon-mockup.jpg" alt="coming soon website" width="1280" height="1118" aria-hidden="true" loading="lazy">
                    </picture>
                </li>
            </ul>
        </div>
    </section>       
    
    <!-- ============================================ -->
    <!--                  Who We Are                  -->
    <!-- ============================================ -->

    <section id="hero-1426">
        <div class="cs-container">
            <div class="cs-content">
                <h1 class="cs-title">Get To <span class="alt-title">Know</span> Southern Tier Web Designs</h1>
                <p class="cs-text">
                    My name is Liam and I'm a passionate web developer serving clients across the US. I first found my passion for coding and web design a little over a year ago. After thousands of hours of tireless work towards refining my skills, I launched Southern Tier Web Designs, a company that understands small businesses because we are one. My goal is to provide business owners the peace of mind they deserve when it comes to their online presence. We'll take care of your website so you can focus on what really matters to you: your business.
                </p>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/headshot-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/headshot.jpg">
                    <img decoding="async" src="/assets/images/headshot.jpg" alt="Liam photo" width="700" height="724" aria-hidden="true" loading="lazy">
                </picture>
                <h2 class="cs-h2">Liam Straebler</h2>
                <h3 class="cs-h3">Owner & Web Developer</h3>
                <div class="cs-button-group">
                    <a href="tel:{{client.phoneForTel}}" class="social-link" aria-label="phone">
                        <img src="/assets/svgs/telephone.svg" alt="phone-icon" loading="lazy" decoding="async" aria-hidden="true" width="48" height="48">
                    </a>
                    <a href="mailto:{{client.email}}" class="social-link" aria-label="email">
                        <img src="/assets/svgs/gmail.svg" alt="gmail-icon" loading="lazy" decoding="async" aria-hidden="true" width="48" height="48">
                    </a>
                    <a href="https://www.linkedin.com/in/liam-straebler-2952b2294/" class="social-link" aria-label="linkedin">
                        <img src="/assets/svgs/linkedin.svg" alt="linkedIn icon" loading="lazy" decoding="async" aria-hidden="true" width="48" height="48">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Why Choose                  -->
    <!-- ============================================ -->

    <section id="why-choose-1571">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">We Offer Nothing But The <span class="alt-title">Best</span> For Your Business</h2>
            </div>
            <div class="cs-card-wrapper">
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/equalizer.svg" alt="custom icon" width="24" height="24" aria-hidden="true">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Custom Designs</h3>
                            <p class="cs-item-text">
                                Each website is uniquely crafted to reflect your brand's identity.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/code.svg" alt="code icon" width="24" height="24" aria-hidden="true">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Optimized Code</h3>
                            <p class="cs-item-text">
                                Our clean code ensures faster loading and better search engine rankings.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/expert.svg" alt="expert icon" width="24" height="24" aria-hidden="true">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Professional Quality</h3>
                            <p class="cs-item-text">
                                Enjoy a high-performing website designed by a professional, not a page-builder.
                            </p>
                        </div>
                    </li>
                </ul>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/pagespeed-ipads-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/pagespeed-ipads.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pagespeed-ipads.png" alt="google pagespeed" width="856" height="856" aria-hidden="true">
                </picture>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/handshake-2.svg" alt="handshake icon" width="24" height="24" aria-hidden="true">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Direct Support</h3>
                            <p class="cs-item-text">
                                Receive personal customer service with a direct line to your website manager.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/contract.svg" alt="contract icon" width="24" height="24" aria-hidden="true">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Cost-Effective</h3>
                            <p class="cs-item-text">
                                Get exceptional results without the excessive prices of large marketing companies.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/pattern.svg" alt="pattern icon" width="24" height="24" aria-hidden="true">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Seamless Experience</h3>
                            <p class="cs-item-text">
                                We strive to provide a smooth and efficient process from start to finish.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Steps                      -->
    <!-- ============================================ -->

    <section id="steps-276">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Our <span class="alt-title">Seamless</span> Web Design Process</h2>
                <p class="cs-text">
                    Creating your perfect website is a collaborative and streamlined experience. We follow these steps for each of our projects to bring your vision to life.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-number">01</span>
                    <h2 class="cs-h2">Contract Signing</h2>
                    <p class="cs-item-text">
                        Begin the process by signing the contract and paying the initial invoice. 
                    </p>
                </li>
                <li class="cs-item">
                    <span class="cs-number">02</span>
                    <h2 class="cs-h2">Design Approval</h2>
                    <p class="cs-item-text">
                        Review and approve the initial design concepts presented. 
                    </p>
                </li>
                <li class="cs-item">
                    <span class="cs-number">03</span>
                    <h2 class="cs-h2">Coding and Demo Link Approval</h2>
                    <p class="cs-item-text">
                        We code your website and provide a demo link for your approval.
                    </p>
                </li>
                <li class="cs-item">
                    <span class="cs-number">04</span>
                    <h2 class="cs-h2">Final Optimization and Launch</h2>
                    <p class="cs-item-text">
                        Final optimizations are made for speed and performance.  
                    </p>
                </li>
            </ul>
            <a href="/contact" class="cs-button-solid">GET IN TOUCH</a>
        </div>
    </section>
                                    
    <!-- ============================================ -->
    <!--                  Pricing                     -->
    <!-- ============================================ -->

    <section id="pricing-357">
        <div class="cs-container">
            <ul class="cs-card-group">
                <!-- Option 1 -->
                <li class="cs-item">
                    <h3 class="cs-h3">Flat Fee</h3>
                    <p class="cs-item-text">
                        One and done.
                    </p>
                    <div class="cs-option-group">
                        <span class="cs-price">$1200<span class="cs-small"> + $25/month hosting</span></span>
                    </div>
                    <p class="cs-included">One time fee plus monthly hosting. Includes a 5 page custom design. Additional pages are charged a one-time fee of $100/page</p>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Custom website
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            5 pages included
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Customer agent service
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Logo design
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            General maintenance
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img2" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/plus-2.svg" alt="add on" width="20" height="20">
                            Domain purchase $25/year
                        </li>
                    </ul>
                    <a href="/contact" class="cs-button-solid">CONTACT US</a>
                </li>
                <!-- Option 2 -->
                <li class="cs-item cs-popular">
                    <h3 class="cs-h3">Monthly</h3>
                    <p class="cs-item-text">
                        Perfect for any business.
                    </p>
                    <div class="cs-option-group">
                        <span class="cs-price">$150<span class="cs-small">/month</span></span>
                    </div>
                    <span class="cs-included">12 month minimum contract. Includes a 5 page custom design. Additional pages are charged a one-time fee of $100/page</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Custom website
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            5 pages included
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            24/7 support and maintenance
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Unlimited edits
                        </li>
                        <li class="cs-li ">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Hosting included
                        </li>
                        <li class="cs-li ">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Logo design
                        </li>
                        <li class="cs-li ">
                            <img class="cs-li-img2" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/plus-2.svg" alt="add on" width="16" height="16">
                            Domain purchase $25/year
                        </li>
                    </ul>
                    <a href="/contact" class="cs-button-solid">CONTACT US</a>
                </li>
                <!-- Option 3 -->
                <li class="cs-item">
                    <h3 class="cs-h3">Edits</h3>
                    <p class="cs-item-text">
                        Any changes to your site taken care of.
                    </p>
                    <div class="cs-option-group">
                        <span class="cs-price">$40<span class="cs-small">/hour</span></span>
                    </div>
                    <span class="cs-included">Any alterations to flat fee sites taken care of. This does not include additional pages. 1 hour minimum.</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Adjustments to existing site
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Logo redesign
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Consultation
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="check" width="20" height="20">
                            Additional functionality
                        </li>
                    </ul>
                    <a href="/contact" class="cs-button-solid">CONTACT US</a>
                </li>
            </ul>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}