/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-855 {
        padding: clamp(8.25rem, 23.82vw, 10.5rem) 1rem clamp(3.75rem, 7.82vw, 6.25rem);
        /* clips the svg wave from overflowing */
        overflow: hidden;
        position: relative;
        z-index: 1;

        &::before {
            content: "";
            width: 95%;
            height: 100%;
            /* centered version */
            background: radial-gradient(circle 620px at 50% 30%, #FFFFFF 65%, #EBF8FF 78%, #2471c9 100%);
            opacity: 1;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            top: 0;
            z-index: 1;
            /* prevents the cursor from interacting with it */
            pointer-events: none;
            border-radius: 0 0 30px 30px;
        }

        .cs-container {
            width: 100%;
            max-width: calc(1280/16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: calc(48/16 * 1rem);
            position: relative;
            z-index: 2;
        }

        .cs-content {
            max-width: calc(630/16 * 1rem);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            z-index: 10;
        }

        // .cs-topper {
        //     font-size: calc(16/16 * 1rem);
        //     line-height: 1.2em;
        //     text-transform: none;
        //     text-align: inherit;
        //     letter-spacing: 0.1em;
        //     font-weight: 400;
        //     color: #1a1a1a;
        //     margin-bottom: calc(4/16 * 1rem);
        //     border-radius: calc(30 / 16 * 1rem);
        //     display: block;
        //     border: 1px solid #CFCFCF;

        //     &::before {
        //         background: none;
        //         box-shadow: 4px 4px 8px rgba(26, 26, 26, 0.3);
        //     }
        // }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 5vw, 3.8125rem);
            font-weight: 400;
            line-height: 1.2em;
            text-align: center;
            /* 23 characters including spaces wide */
            max-width: 23ch;
            margin: 0 0 calc(16/16 * 1rem) 0;
            color: #1a1a1a;
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            text-align: center;
            width: 100%;
            max-width: calc(531/16 * 1rem);
            /* 28px - 40px */
            margin: 0 0 clamp(1.75rem, 3.92vw, 2.5rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-button-group {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-button-solid {
            min-width: calc(176 / 16 * 1rem);
        }

        .cs-button-transparent {
            font-family: "Cabin";
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            /* 50px - 60px */
            line-height: clamp(3.75rem, 5.25vw, 4.375rem);
            text-align: center;
            text-decoration: none;
            min-width: calc(176/16 * 1rem);
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            border-radius: calc(40 / 16 * 1rem);
            border: 1px solid #B8B8B8;
            padding: 0 calc(24 / 16 * 1rem) 0 0;
            background: none;
            // box-shadow: 4px 4px 24px rgba(26, 26, 26, 0.15);
            color: #1a1a1a;
            display: inline-flex;
            align-items: stretch;
            justify-content: space-between;
            gap: calc(24 / 16 * 1rem);
            z-index: 1;
            transition: 0.2s ease-in;

            .button-text {
                transition: 0.2s cubic-bezier(0.2, 0, 0.9, 1);
            }

            .cs-wrapper {
                width: calc(44 / 16 * 1rem);
                height: auto;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                z-index: 1;
                position: relative;
                transition: 0.2s cubic-bezier(0.2, 0, 0.9, 1);

                // &:before {
                //     content: "";
                //     width: 100%;
                //     height: 100%;
                //     opacity: 1;
                //     position: absolute;
                //     display: block;
                //     bottom: 0;
                //     right: 0;
                //     transition: width 0.3s;
                //     z-index: -1;
                // }
                svg {
                    border-radius: 30px;
                    box-shadow: 4px 4px 24px rgba(26, 26, 26, 0.15);
                }
            }

            &:hover {
                // box-shadow: none;
                transform: scale(0.95);

                .cs-wrapper { 
                    transform: translateX(10px);
                }

                .button-text {
                    transform: translateX(-10px);
                }
            }
        }

        #list-1405 {
            display: none;
        }

        .cs-picture-group {
            width: 100%;
            height: 320px;
            max-width: clamp(20rem, 41.67vw, 25rem);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 2;
            border-radius: calc(16 / 16 * 1rem);
            // background-color: #F7F7F7;
            border: 1px solid #E0E0E0;
            box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.15);
            opacity: 0;
            transform: translateY(-20px); /* optional slight upward motion */
            animation: fadeIn 1s ease-out forwards;

            &::after {
                content: "";
                background-color: #F7F7F7;
                width: 96%;
                height: 96%;
                position: absolute;
                border-radius: calc(12 / 16 * 1rem);
                pointer-events: none;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                z-index: 1;
            }

            &::before {
                content: "";
                background-color: #FFF;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: calc(16 / 16 * 1rem);
                pointer-events: none;
                z-index: -1;
            }
        }

        .cs-picture {
            height: 300px;
            width: 270px;
            // background-color: blue; /* optional */
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            /* clips img tag corners */
            overflow: hidden;
            border-radius: calc(10 / 16 * 1rem);
            z-index: 100;

            img {
                // position: absolute;
                // top: 0;
                // left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-wave {
            width: 100%;
            height: auto;
            display: block;
            position: absolute;
            left: 0;
            bottom: -1px;
            z-index: 1;
            fill: #ffffff;
        }

        .cs-wave path {
            width: 100%;
            height: auto;
        }

        .mobile {
            bottom: -0.4375rem;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-855 {
        text-align: left;
        padding-left: 3rem;
        padding-right: 3rem;

        &::before {
            content: "";
            width: 95%;
            height: 100%;
            /* centered version */
            background: radial-gradient(circle 1900px at 50% -150%, #FFFFFF 65%, #EBF8FF 78%, #60AAFF 100%);
            opacity: 1;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            top: 0;
            z-index: 1;
            /* prevents the cursor from interacting with it */
            pointer-events: none;
            border-radius: 0 0 30px 30px;
        }
        
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            width: 50vw;
            /* prevents flex-box from squishing it */
            flex: none;
            align-items: flex-start;
        }

        .cs-text {
            margin: 0 0 calc(16 / 16 * 1rem) 0;
        }

        .cs-title,
        .cs-text {
            text-align: left;
        }

        .cs-button-solid,
        .cs-button-transparent {
            min-width: calc(186 / 16 * 1rem);
        }

        #list-1405 {
            width: 100%;
            // margin: calc(24 / 16 * 1rem) 0 0 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: calc(16 / 16 * 1rem);
            margin-bottom: calc(32 / 16 * 1rem);

            .cs-li {
                font-size: calc(13 / 16 * 1rem);
                list-style: none;
                line-height: 1.5em;
                // width: 100%;
                color: var(--bodyTextColor);
                display: flex;
                justify-content: flex-start;
                /* push icon top the top so if the list item goes to two lines the icon stays at the top */
                align-items: flex-start;
                gap: calc(8 / 16 * 1rem);
            }

            .cs-icon {
                width: calc(20 / 16 * 1rem);
                height: auto;
                /* adds extra space between the icon and top of parent so it's more centered */
                margin-top: 1px;
                display: block;
            }
        }

        .cs-picture-group {
            position: absolute;
            right: 2rem;
            width: 40vw;
            height: 420px;
            max-width: 700px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 2;
            border-radius: calc(16 / 16 * 1rem);
            background-color: #F7F7F7;
            border: 1px solid #E0E0E0;
            box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.15);
            // padding: calc(16 / 16 * 1rem) calc(8 / 16 * 1rem);
        }

        .cs-picture {
            height: 390px;
            width: 360px;
            // background-color: blue; /* optional */
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            /* clips img tag corners */
            overflow: hidden;
            border-radius: calc(10 / 16 * 1rem);

            img {
                // position: absolute;
                // top: 0;
                // left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        // .cs-picture {
        //     width: 60vw;
        //     max-width: 58.5rem;
        //     position: absolute;
        //     top: auto;
        //     bottom: -5.25rem;
        //     right: -6.25rem;
        // }

        .cs-wave {
            width: 100%;
            left: 0;
            transform: none;
        }
    }
}

/* Large Desktop - 1024px */
@media only screen and (min-width: 93.75rem) {
    #hero-855 {
        padding-left: 1rem;
        padding-right: 1rem;
        .cs-picture {
            right: -20.375rem;
            bottom: -16rem;
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    .services {
        z-index: 100;
        position: relative;
        border-top: calc(6 / 16 * 1em) solid var(--primary);
        border-radius: calc(5 / 16 * 1em);
        margin: auto;
        margin-top: calc(-167 / 16 * 1em);
        margin-bottom: calc(50 / 16 * 1em);
        background: #fff;
        max-width: calc(1320 / 16 * 1em);
        width: 90%;
        padding: calc(50 / 16 * 1em) calc(20 / 16 * 1em);
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
        .card {
            display: block;
            margin: auto;
            margin-bottom: calc(50 / 16 * 1em);
            max-width: calc(357 / 16 * 1em);
            width: 100%;

            picture {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin: auto;
                margin-bottom: calc(23 / 16 * 1em);
                background: var(--primary);
                height: calc(88 / 16 * 1em);
                width: calc(88 / 16 * 1em);

                img {
                    height: calc(48 / 16 * 1em);
                    width: calc(48 / 16 * 1em);
                }
            }
            h2 {
                margin-bottom: calc(13 / 20 * 1em);
                font-size: calc(32 / 16 * 1em);
                line-height: calc(27 / 20 * 1em);
                font-weight: 700;
                color: #1a1a1a;
                text-align: center;
            }
            p {
                opacity: 0.7;
                width: 100%;
                line-height: calc(24 / 18 * 1em);
                text-align: center;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

/* Inbetween */
@media only screen and (min-width: 768px) {
    .services {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 98%;
        font-size: min(1.8vw, 1em);

        .card {
            margin: 0;
            max-width: calc(325 / 16 * 1em);
        }
    }
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
    .services {
        padding: calc(50 / 16 * 1em) calc(80 / 16 * 1em);

        .card {
            max-width: calc(357 / 16 * 1em);
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services {
            background: var(--medium);

            picture {
                background: var(--primaryDark);
            }

            h2 {
                font-weight: bold;
                color: #fff;
            }
        }
    }
}
