/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0rem) {
    // Website colors
    :root {
        --primary: #119ce2;
        --primaryLight: #70c4ee;
        --secondary: #004C92;
        --secondaryLight: #66afe3;
        --secondaryDark: #0066af;
        --primaryDark: #2D3142;
        --bodyTextColor: #4e4b66;
        --bodyTextColorWhite: #FFFFFF;
        --headerColor: #353535;

        /* 13px - 16px */
        --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
        /* 31px - 49px */
        --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
        --bodyFontSize: 1rem;

        /* 60px - 100px top and bottom */
        --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }

    // Text styles - can be replaced using CodeStitch's "Content Flair" Stitches
    .cs-topper {
        display: block;
        margin-bottom: 0.25rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        font-weight: 700;
        color: var(--primary);
        text-align: inherit;
    }

    .cs-title {
        position: relative;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
        max-width: 43.75rem;
        font-size: var(--headerFontSize);
        font-family: "Anton";
        line-height: 1.2em;
        font-weight: 400;
        color: #000;
        text-align: inherit;
    }

    .alt-title {
        color: var(--primary);
    }

    .alt-text {
        color: var(--primary);
    }

    .cs-text {
        margin: 0;
        max-width: 40.625rem;
        width: 100%;
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        color: var(--bodyTextColor);
        text-align: inherit;
        font-weight: 400;
    }

    .cs-button-solid {
        font-family: "Anton";
        font-size: calc(16/16 * 1rem);
        letter-spacing: 2px;
        font-weight: 400;
        /* 50px - 60px */
        line-height: clamp(3.125rem, 5.25vw, 3.75rem);
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        min-width: calc(176/16 * 1rem);
        margin: 0;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        border-radius: calc(10 / 16 * 1rem);
        padding: 0;
        background-color: var(--primary);
        box-shadow: inset 0 -4px 0 var(--secondary);
        color: #1a1a1a;
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: none;
        }
    }

    .cs-hide-on-mobile {
        display: none;
        pointer-events: none;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .cs-hide-on-mobile {
        display: block;
        pointer-events: all;
    }

    .cs-hide-on-desktop {
        display: none;
    }
}

/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
    body,
    html {
        margin: 0;
        overflow-x: hidden;
        padding: 0;
        font-family: "Lato";
        font-size: 100%;
        color: var(--bodyTextColor);
    }

    *,
    *:before,
    *:after {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    body {
        transition: background-color 0.3s;
    }

    .container {
        position: relative;
        margin: auto;
        width: 92%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        color: var(--headerColor);
    }

    p,
    li,
    a {
        margin: 0;
        font-size: calc(16 / 16 * 1rem);
        line-height: 1.5em;
    }

    p,
    li {
        color: #353535;
    }

    a,
    button {
        &:hover {
            cursor: pointer;
        }
    }

    // Hidden Screen reader skip nav button
    .skip {
        z-index: -1111111;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    // Grab your fonts to locally host from https://google-webfonts-helper.herokuapp.com/fonts

    /* anton-regular - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Anton';
        font-style: normal;
        font-weight: 400;
        src: url('/assets/fonts/anton-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* lato-regular - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        src: url('/assets/fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* lato-700 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        src: url('/assets/fonts/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
    body,
    html {
        margin: 0;
        padding: 0;
    }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
    body,
    html {
        font-size: 0.55vw;
    }
}

/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    /* The switch - the box around the slider */
    .switch {
        font-size: 17px;
        // position: relative;
        display: inline-block;
        width: 2.5em;
        height: 1.25em;
        position: absolute;
        top: calc(24 / 16 * 1rem);
        right: calc(70 / 16 * 1rem);
        z-index: 1000;
        overflow: hidden;

        /* Hide default HTML checkbox */
        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(75, 73, 74);
            box-shadow: inset 2px 2px 2px rgb(46, 45, 45);
            transition: 0.4s;
            border-radius: 30px;

            &:before {
                position: absolute;
                content: "";
                height: 1em;
                width: 1em;
                border-radius: 20px;
                left: 0.15em;
                bottom: 0.1em;
                background-color: black;
                box-shadow: inset 4px -2px 0 0 white;
                transition: 0.4s;
            }
        }
        
        input:checked + .slider {
            background-color: #2196f3;
        }
        
        input:checked + .slider:before {
            transform: translateX(1.25em);
            background-color: #FFFFFF;
            box-shadow: none;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .switch {
        margin: 0;
        position: relative;
        top: auto;
        right: auto;
        transform: none;

        &:hover {
            cursor: pointer;
        }
    }
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.99rem) {
    body {
        &.cs-open {
            overflow: hidden;
        }

        &.scroll {
            #cs-navigation {
                width: 100%;
                max-width: 100%;
                top: 0;

                &:before {
                    border-radius: 0;
                }

                .cs-ul-wrapper {
                    top: 100%;
                }
            }
        }
    }

    #cs-navigation {
        width: 94%;
        max-width: calc(1280 / 16 * 1rem);
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        /* 12px - 24px */
        padding: clamp(0.75rem, 2vw, 1.5rem);
        /* 12px - 24px */
        border-radius: clamp(0.75rem, 2vw, 1.5rem);
        position: fixed;
        top: calc(20 / 16 * 1rem);
        left: 50%;
        z-index: 10000;
        transform: translateX(-50%);
        transition: top 0.3s, border-radius 0.3s, width 0.3s, max-width 0.3s;

        &:before {
            /* background color */
            content: "";
            width: 100%;
            height: 100%;
            background: #fff;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            opacity: 1;
            /* 12px - 24px */
            border-radius: clamp(0.75rem, 2vw, 1.5rem);
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: transform 0.2s, border-radius 0.3s ease-in-out;
        }

        &.cs-active {
            &:before {
                transform: translateX(-50%) scale(1.03);
            }

            .cs-toggle {
                transform: rotate(180deg);
            }

            .cs-ul-wrapper {
                transform: scaleY(1);
                transition-delay: 0.15s;
            }

            .cs-li {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .cs-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: calc(24 / 16 * 1rem);
        }

        .cs-logo {
            width: auto;
            max-width: calc(200 / 16 * 1rem);
            height: 100%;
            margin: 0 auto 0 0;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            z-index: 10;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-toggle {
            width: calc(56 / 16 * 1rem);
            height: calc(56 / 16 * 1rem);
            margin: 0 0 0 auto;
            background-color: var(--primary);
            border: none;
            border-radius: calc(16 / 16 * 1rem);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 10;
            transition: transform 0.6s;
        }

        .cs-nav {
            /* sends it to the right in the 3rd position */
            order: 3;
        }

        .cs-contact-group {
            display: none;
            position: relative;
            z-index: 10;
        }

        .cs-phone {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
            transition: opacity 0.3s, color 0.3s;
        }

        .cs-phone-icon {
            width: calc(24 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-social {
            display: none;
        }

        .cs-active {
            .cs-line1 {
                top: 50%;
                transform: translate(-50%, -50%) rotate(225deg);
            }

            .cs-line2 {
                top: 50%;
                transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
                transform-origin: center;
            }

            .cs-line3 {
                opacity: 0;
                bottom: 100%;
            }
        }

        .cs-box {
            /* 24px - 28px */
            width: clamp(1.5rem, 2vw, 1.75rem);
            height: calc(16 / 16 * 1rem);
            position: relative;
        }

        .cs-line {
            width: 100%;
            height: 2px;
            background-color: #fafbfc;
            border-radius: 2px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-line1 {
            top: 0;
            transition: transform 0.5s, top 0.3s, left 0.3s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-direction: normal;
            animation-fill-mode: forwards;
            transform-origin: center;
        }

        .cs-line2 {
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: top 0.3s, left 0.3s, transform 0.5s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-direction: normal;
            animation-fill-mode: forwards;
        }

        .cs-line3 {
            bottom: 0;
            transition: bottom 0.3s, opacity 0.3s;
        }

        .cs-ul-wrapper {
            width: 100%;
            height: auto;
            padding-bottom: calc(48 / 20 * 1em);
            background-color: #fff;
            border-radius: 0 0 calc(24 / 16 * 1rem) calc(24 / 16 * 1rem);
            position: absolute;
            top: 85%;
            left: 0;
            z-index: -1;
            overflow: hidden;
            transform: scaleY(0);
            transition: transform 0.4s;
            transform-origin: top;
        }

        .cs-ul {
            width: 100%;
            height: auto;
            max-height: 65vh;
            margin: 0;
            padding: calc(64 / 16 * 1rem) 0 0 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: calc(20 / 16 * 1rem);
            overflow: auto;
        }

        .cs-li {
            text-align: center;
            list-style: none;
            width: 100%;
            margin-right: 0;
            opacity: 0;
            /* transition from these values */
            transform: translateY(calc(-70 / 16 * 1rem));
            transition: transform 0.6s, opacity 0.9s;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(10) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(11) {
                transition-delay: 0.55s;
            }
            &:nth-of-type(12) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(13) {
                transition-delay: 0.65s;
            }
        }

        .cs-li-link {
            /* 16px - 24px */
            font-size: clamp(1rem, 2.5vw, 1.5rem);
            font-family: "Anton";
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1.2em;
            text-decoration: none;
            margin: 0;
            color: var(--headerColor);
            display: inline-block;
            position: relative;

            &.cs-active {
                color: var(--primary);
            }

            &:hover {
                color: var(--primary);
            }
        }

        .cs-button-solid {
            display: none;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-navigation {
        .cs-contact-group {
            display: block;
        }
    }
}

/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    #cs-navigation {
        .cs-li {
            text-align: center;
            width: 100%;
            display: block;
        }

        .cs-dropdown {
            color: var(--bodyTextColorWhite);
            position: relative;
            &.cs-active {
                .cs-drop-ul {
                    height: auto;
                    margin: calc(12 / 16 * 1rem) 0 0 0;
                    padding: calc(12 / 16 * 1rem) 0;
                    opacity: 1;
                    visibility: visible;
                }

                .cs-drop-link {
                    opacity: 1;
                }
            }

            .cs-li-link {
                position: relative;
                transition: opacity 0.3s;
            }
        }

        .cs-drop-icon {
            width: calc(15 / 16 * 1rem);
            height: auto;
            position: absolute;
            top: 50%;
            right: calc(-20 / 16 * 1rem);
            transform: translateY(-50%);
        }

        .cs-drop-ul {
            width: 100%;
            height: 0;
            margin: 0;
            padding: 0;
            background-color: var(--primary);
            opacity: 0;
            display: flex;
            visibility: hidden;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: calc(12 / 16 * 1rem);
            overflow: hidden;
            transition: padding 0.3s, margin 0.3s, height 0.3s, opacity 0.3s,
                visibility 0.3s;
        }

        .cs-drop-li {
            list-style: none;
        }

        .cs-li-link {
            &.cs-drop-link {
                /* 14px - 16px */
                font-size: clamp(0.875rem, 2vw, 1.25rem);
                color: #FFFFFF;
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        .cs-dropdown {
            position: relative;
            &:hover {
                cursor: pointer;
                .cs-drop-ul {
                    opacity: 1;
                    visibility: visible;
                    transform: scaleY(1);
                }

                .cs-drop-li {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .cs-drop-icon {
            width: calc(15 / 16 * 1rem);
            height: auto;
            display: inline-block;
        }

        .cs-drop-ul {
            min-width: calc(200 / 16 * 1rem);
            margin: 0;
            padding: 0;
            background-color: #fff;
            box-shadow: inset rgba(149, 157, 165, 0.1) 0px 8px 10px;
            opacity: 0;
            border-bottom: 5px solid var(--primary);
            border-radius: 0 0 calc(24 / 16 * 1rem) calc(24 / 16 * 1rem);
            visibility: hidden;
            /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
            // columns: 2;
            position: absolute;
            top: 100%;
            z-index: -100;
            overflow: hidden;
            transform: scaleY(0);
            transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
            transform-origin: top;
        }

        .cs-drop-li {
            font-size: calc(16 / 16 * 1rem);
            text-decoration: none;
            list-style: none;
            width: 100%;
            height: auto;
            opacity: 0;
            display: block;
            transform: translateY(-0.625rem);
            transition: opacity 0.6s, transform 0.6s;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
        }

        .cs-li-link {
            &.cs-drop-link {
                font-size: calc(16 / 16 * 1rem);
                line-height: 1.5em;
                text-transform: capitalize;
                text-decoration: none;
                white-space: nowrap;
                width: 100%;
                /* prevents padding from affecting height and width */
                box-sizing: border-box;
                padding: calc(12 / 16 * 1rem);
                color: var(--headerColor);
                display: block;
                transition: color 0.3s, background-color 0.3s;

                &:hover {
                    color: var(--bodyTextColorWhite);
                    background-color: var(--primary);
                }

                &:before {
                    display: none;
                }
            }
        }
    }
}


/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    body.scroll {
        #cs-navigation {
            width: 100%;
            max-width: 100%;
            border-radius: 0;
            top: 0;
        }
    }

    #cs-navigation {
        width: 94%;
        max-width: calc(1440 / 16 * 1rem);
        height: calc(96 / 16 * 1rem);
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        /* 12px - 24px */
        padding: clamp(0.75rem, 2vw, 1.5rem) 0;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        /* 12px - 24px */
        border-radius: clamp(0.75rem, 2vw, 1.5rem);
        display: flex;
        align-items: center;
        position: fixed;
        top: calc(32 / 16 * 1rem);
        left: 50%;
        z-index: 10000;
        transform: translateX(-50%);
        transition: top 0.3s, border-radius 0.3s, width 0.3s, max-width 0.3s;

        .cs-container {
            width: 100%;
            max-width: calc(1440 / 16 * 1rem);
            margin: auto;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            padding: 0 calc(24 / 16 * 1rem);
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: calc(24 / 16 * 1rem);
        }

        .cs-toggle {
            display: none;
        }

        .cs-logo {
            width: 18.4%;
            max-width: calc(350 / 16 * 1rem);
            height: calc(32 / 16 * 1rem);
            /* margin-right auto pushes everything away from it to the right */
            margin: 0 auto 0 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            z-index: 100;

            img {
                width: auto;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-contact-group {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: calc(24 / 16 * 1rem);
        }

        .cs-phone {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
            transition: opacity 0.3s, color 0.3s;
        }

        .cs-phone-icon {
            width: calc(24 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-social {
            height: calc(32 / 16 * 1rem);
            opacity: 1;
            display: none;
            visibility: visible;
            justify-content: center;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
            transition: opacity 0.3s, visibility 0.3s, height 0.3s;
        }

        .cs-social-link {
            text-decoration: none;
            width: calc(32 / 16 * 1rem);
            height: calc(32 / 16 * 1rem);
            background-color: #f7f7f7;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--primary);

                .cs-social-icon {
                    opacity: 1;
                    filter: grayscale(1) brightness(10000%);
                }
            }
        }

        .cs-social-icon {
            width: calc(12 / 16 * 1rem);
            height: auto;
            opacity: 0.6;
            display: block;
            transition: opacity 0.3s;
        }

        .cs-ul-wrapper {
            height: 100%;
            display: flex;
            align-items: center;
            /* absolutely positioned to be dead center */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .cs-ul {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            /* 20px - 36px */
            gap: clamp(1.25rem, 2.6vw, 2.25rem);
        }

        .cs-li {
            list-style: none;
            height: 100%;
            padding: 0;
            display: flex;
            align-items: center;
            /* prevent flexbox from squishing it */
            flex: none;
        }

        .cs-li-link {
            font-size: calc(16 / 16 * 1rem);
            font-family: "Anton";
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--headerColor);
            display: block;
            position: relative;
            transition: color 0.3s;

            &:hover {
                color: var(--primary);
            }

            &.cs-active {
                color: var(--primary);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            font-weight: 400;
            /* 46px - 56px */
            line-height: calc(54 / 16 * 1rem);
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #cs-navigation {
        .cs-social {
            display: flex;
        }
    }
}

/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-1519 {
        padding: var(--sectionPadding);
        /* 190px - 268px */
        padding-top: clamp(11.875rem, 25vw, 16.75rem);
        /* 48px - 100px */
        padding-bottom: clamp(3rem, 6vw, 6.25rem);
        /* clips the line from causing overflow issues for going off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;
        background: linear-gradient(146deg, var(--primary) 0%, var(--secondary) 66%);
        
        .cs-container {
            text-align: center;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 8px - 12px */
            gap: clamp(.5rem, 1vw, .75rem);
        }
    
        .cs-int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 400;
            font-family: "Anton";
            text-transform: uppercase;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-breadcrumbs {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-link {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            text-decoration: none;
            color: var(--bodyTextColorWhite);
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-of-type {
                /* remove the chevron on the last list item */
                &::after {
                    display: none;
                }
            }

            &:after {
                /* chevron */
                content: '';
                width: calc(7 / 16 * 1rem);
                height: calc(12 / 16 * 1rem);
                margin: 0 calc(16 / 16 * 1rem);
                background: url("/assets/svgs/interior-banner-chevron.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                display: block;
            }

            &.cs-active {
                color: var(--bodyTextColorWhite);
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            &:before {
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                /* Black Color Overlay */
                content: "";
                opacity: 0.7;
                display: block;
                background: linear-gradient(146deg, var(--primary) 0%, var(--secondary) 46%);
                height: 100%;
                width: 100%;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
            }
        }

        .cs-mask {
            --maskBG: #ffffff;

            width: 100%;
            height: auto;
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            z-index: 100;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #banner-1519 {
        .cs-mask {
            --maskBG: var(--dark);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #banner-1519 {
            .cs-mask {
                --maskBG: var(--dark);
            }
        }
    }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-697 {
        padding: var(--sectionPadding);
        padding-bottom: 0;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            // gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
            text-align: center;
            padding: 2rem 1.5rem 0 1.5rem;
        }

        .cs-button-solid {
            background-color: #FFFFFF;
            box-shadow: inset 0 -4px 0 #C6C6C6;
            color: var(--secondaryDark);
            transition: box-shadow 0.3s;
    
            &:hover {
                box-shadow: none;
            }
        }

        .laptop {
            width: 100%;
            max-width: 413px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .laptop-lid {
            width: 95%;
            height: 100%;
            min-height: calc(270 / 16 * 1rem);
            // aspect-ratio: 16/10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 18px;
            background-color: #D9D9D9;
            position: relative;

            &::before {
                content: "";
                width: 95%;
                height: 90%;
                background: linear-gradient(146deg, var(--primary) 0%, var(--secondary) 66%);
                border-radius: 10px;
                position: absolute;
                z-index: 0;
            }
        }

        .laptop-bottom {
            display: flex;
            align-items: center;
            flex-direction: column;
            height: calc(100 / 16 * 1rem);
            width: 107%;
            transform: perspective(7px) rotateX(1deg);
            border-radius: 10px;
            background-color: #d9d9d9;
            box-shadow: 0 7px 0 #cfcfcf;

            &::before {
                content: "";
                margin-top: 1%;
                width: 85%;
                height: 60%;
                background-color: #373737;
                border-radius: 5px;
            }

            &::after {
                content: "";
                width: 30%;
                height: 25%;
                margin-top: 1%;
                background-color: #ADADAD;
                border-radius: 3px;
            }
        }
    }
}

@media only screen and (min-width: 48rem) {
    #cta-697 {
        .laptop {
            max-width: calc(540 / 16 * 1rem);
        }
    
        .laptop-lid {
            min-height: calc(370 / 16 * 1rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cta-697 {
        padding-top: 0;
        .cs-title {
            padding: 2rem 1.5rem 0 1.5rem;
        }

        .laptop {
            max-width: calc(740 / 16 * 1rem);
        }
    
        .laptop-lid {
            min-height: calc(430 / 16 * 1rem);
        }
    }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-1761 {
        padding: var(--sectionPadding);
        /* 30px - 50px */
        padding-bottom: clamp(1.875rem, 5vw, 3.125rem);
        position: relative;
        background: linear-gradient(146deg, var(--primary) 0%, var(--secondary) 66%);

        .cs-container {
            width: 100%;
            max-width: calc(1280/16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            column-gap: calc(68/16 * 1rem);
        }

        .cs-logo-group {
            /* takes up all the space, lets the other ul's wrap below it */
            width: 100%;
            /* 20px - 40px */
            margin: 0 0 clamp(1.25rem, 5vw, 2.5rem);
            position: relative;
        }

        .cs-button-solid {
            background-color: #FFFFFF;
            box-shadow: inset 0 -4px 0 #C6C6C6;
            color: var(--secondaryDark);
            transition: box-shadow 0.3s;
    
            &:hover {
                box-shadow: none;
            }
        }

        .cs-title {
            /* 31px - 39px */
            font-size: clamp(1.9375rem, 7vw, 3.0625rem);
            max-width: 23ch;
            margin: calc(48/16 * 1rem) 0 calc(8/16 * 1rem);
            color: var(--bodyTextColorWhite);
        }

        .cs-outline {
            /* 31px - 39px */
            font-size: clamp(1.9375rem, 1vw, 2.4375rem);
            text-transform: uppercase;
            font-weight: 900;
            line-height: 1.2em;
            color: #fff;
            /* text outline styles */
            -webkit-text-stroke: 1px var(--primary);
        }

        .cs-header {
            font-size: calc(25/16 * 1rem);
            font-family: "Anton";
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1.5em;
            margin: 0 0 calc(16/16 * 1rem) 0;
            color: var(--bodyTextColorWhite);
            display: block;
            position: relative;
        }

        .cs-topper {
            font-family: "Anton";
            font-weight: 400;
            text-transform: uppercase;
        }

        .cs-logo {
            width: calc(217/16 * 1rem);
            height: auto;
        }

        .cs-text {
            max-width: calc(412/16 * 1rem);
            margin: calc(16/16 * 1rem) 0 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-ul-wrapper {
            margin: 0 0 calc(60/16 * 1rem);
        }

        .cs-ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: calc(12/16 * 1rem);
        }

        .cs-ul-contact {
            /* 32px - 40px */
            margin: clamp(2rem, 5vw, 2.5rem) 0 0;
            gap: calc(32/16 * 1rem);
        }

        .cs-li {
            list-style: none;
        }

        .cs-topper {
            color: var(--bodyTextColorWhite);
        }

        .cs-contact {
            font-size: calc(20/16 * 1rem);
            font-weight: 400;
            line-height: 1.2em;
            text-decoration: none;
            color: var(--bodyTextColorWhite);
        }

        .cs-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: left;
            text-decoration: none;
            color: var(--bodyTextColorWhite);
            display: inline-flex;
            align-items: flex-start;
            gap: calc(8/16 * 1rem);
            transition: color 0.3s;

            &:hover {
                color: var(--primaryLight);
            }
        }

        .cs-bottom {
            width: 100%;
            max-width: calc(1280/16 * 1rem); /* 28px - 40px */
            margin: 0 auto;
            padding-top: clamp(1.75rem, 3vw, 2.5rem);
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: calc(12/16 * 1rem);
        }

        .cs-credit,
        .cs-bottom-link,
        .cs-credit-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            width: auto;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: inline-block;
            position: relative;
            transition: color 0.3s;
        }

        .cs-credit-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            width: auto;
            margin: 0;
            color: inherit;
            display: inline-block;
            position: relative;

            &:hover {
                text-decoration: underline;
            }
        }

        .cs-bottom-links {
            display: flex;
        }

        .cs-bottom-link {
            display: flex;
            align-items: center;

            &:hover {
                color: var(--primary);
            }

            &:last-of-type {
                &:before {
                    /* separator */
                    content: "";
                    width: 1px;
                    height: calc(14/16 * 1rem);
                    margin: 0 calc(12/16 * 1rem);
                    background: currentColor;
                    opacity: 1;
                    display: block;
                }
            }
        }

        .cs-shape-divider {
            display: none;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-footer-1761 {
        padding-right: 4rem;
        padding-top: 10rem;
        .cs-container {
            justify-content: space-between;
        }

        .cs-logo-group {
            width: fit-content;
            margin: 0;
            margin-right: clamp(1.25rem, 5vw, 2.5rem);
        }

        .cs-ul-wrapper {
            margin: 0;
        }

        .cs-bottom {
            /* 60px - 80px */
            margin-top: clamp(3.75rem, 6vw, 5rem);
        }

        .cs-shape-divider {
            display: block;
            position: absolute;
            top: -80px;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;

            svg {
                position: relative;
                display: block;
                width: calc(100% + 1.3px);
                height: 169px;
            }

            .shape-fill {
                transition: fill 0.3s;
            }
        }
    }
}

// Large Desktop - 1300px 
@media only screen and (min-width: 92rem) {
    #cs-footer-1761 {
        .cs-shape-divider {
            top: -60px;

            svg {
                height: 269px;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cs-footer-1761 {
            background-color: transparent;

            .cs-title,
            .cs-header,
            .cs-link,
            .cs-contact,
            .cs-credit,
            .cs-credit-link,
            .cs-bottom-link {
                color: var(--bodyTextColorWhite);
            }

            .cs-bottom-link,
            .cs-contact,
            .cs-credit,
            .cs-link {
                opacity: 0.8;

                &:hover {
                    color: var(--primary);
                }
            }

            .cs-logo {
                /* makes the logo white on dark mode */
                filter: grayscale(1) brightness(1000%);
            }

            .cs-logomark {
                opacity: 0.4;
            }

            .cs-outline {
                color: var(--dark);
            }

            .cs-bottom {
                border-color: rgba(255, 255, 255, 0.1);
            }

            .cs-shape-divider {
                .shape-fill {
                    fill: var(--dark);
                }
            }
        }
    }
}
                                
